[2016-02-26 09:30] foxer-zt opened #7 "Invalid link provided in [optional instruction]"
Since master branch is unavailable, link provided in the end of optional instructions is invalid:

**Issue location:**
_https://github.com/paliarush/magento2-vagrant-for-developers/blob/1693ee7d14a52335fc75bdb15750601d037df088/scripts/guest/m-reinstall_

[2016-03-01 09:54] arkadiych commented on #7
@foxer-zt , thank you fro reporting the issue. Branches "2.0" and 'develop' have been updated.

[2016-03-01 09:55] #7 closed, assigned to nobody

[2016-03-10 14:51] minhluan259 opened #8 "How to connect mysql on windows via Navicat?"

[2016-03-11 18:04] paliarush commented on #8
As far as I know, all MySQL clients are able to create SSH tunnel, here is dedicated [docs page](https://www.navicat.com/manual/online_manual/en/navicat/rv_manual/SSHSettings.html) for Navicat.

To get ssh credentials, navigate to project root folder (that which contains "Vagrantfile") and execute `vagrant ssh-config`. There you should see HostName (127.0.0.1), Port (custom for your installation),

[2016-03-11 18:10] paliarush commented on #8
@minhluan259 will you be able to contribute PR with corresponding section to the [readme](https://github.com/paliarush/magento2-vagrant-for-developers/blob/2.0/README.md)? It would help other guys who might have the same question. Just avoid Navicat-specific guidance.

[2016-03-12 00:01] minhluan259 commented on #8
Thank you. I have connect success with config:
![image](https://cloud.githubusercontent.com/assets/7834473/13718753/8a3338e8-e81f-11e5-8ca8-4cda9a2265dc.png)
![image](https://cloud.githubusercontent.com/assets/7834473/13718759/a72eb74c-e81f-11e5-91d7-1607d4db65f9.png)

Port from config.yam : 3192 (forwarded_ssh_port)
Username/password: vagrant/vagrant

[2016-04-03 21:00] paliarush opened #9 "Enable Mail Support"
There should be possibility to read Emails sent by Magento. Ideally we should put every email to some directory visible from the host, so it can be opened using host email client (e.g. Outlook).

[2016-04-03 21:04] paliarush opened #10 "Magento compiler fails on Windows hosts"
Compiler tries to remove `var/generation` directory, which is mounted as shared folder on Windows hosts, as a result the following error occurs:

Until this is fixed, workaround is to comment out the following line in `Vagrantfile` if you need to run compiler:
`config.vm.synced_folder host_magento_dir + '/var/generation', guest_magento_dir + '/var/generation', create: true`

The solution might be

[2016-04-03 21:05] paliarush opened #11 "Install EE by default, if EE repository is specified"

[2016-04-03 21:13] paliarush opened #12 "Fix remote debugging for web API functional tests"
The problem is that when you run web API functional tests with debugger, it tries to connect to PHPStorm on the host originating the call (guest machine), and obviously fails. Change of remote connect back to static IP in XDebug configuration should help, but need to make sure that it will always work in other cases.

Temporary workaround if you need to run debugging for web API functional tests i

[2016-04-03 21:16] paliarush opened #13 "Create default configuration for tests"
[init_project.sh](https://github.com/paliarush/magento2-vagrant-for-developers/blob/2.0/init_project.sh) should configure PhpStorm so that Unit, Integration, Web API tests run configuration are available by default after project initialization.

[2016-04-03 21:21] paliarush opened #14 "Generate settings.jar for PhpStorm"
Generate settings.jar, which contains global PhpStorm settings (some settings are stored in `<project_root>/.idea` folder, and some are global for all projects). This archive should be compatible with at least the latest version of PHP Storm, and it should be possible to import these settings via `File => Import Settings...` in PhpStorm.

Unfinished prototype is available in [develop-phpstorm-sett

[2016-04-03 21:26] paliarush opened #15 "Make list of shared folders configurable in non-NFS mode"
By default, in non-NFS mode (always true for Windows hosts or if NFS is explicitly disabled in [config.yaml](https://github.com/paliarush/magento2-vagrant-for-developers/blob/2.0/etc/config.yaml.dist)) the following directories are mounted as VirtualBox shared folders: `var/generation` and `app/etc`.

Would be nice to make this list configurable via [config.yaml](https://github.com/paliarush/magen

[2016-04-03 21:30] paliarush opened #16 "[Docs] Add section to documentation about debugging CLI scripts"
The following syntax can be used for that:
`php -d xdebug.remote_host=192.168.10.1 -d xdebug.idekey=PHPSTORM -d xdebug.remote_connect_back=0 -d xdebug.remote_autostart=1 bin/magento list`

In addition, remote debugging configuration should be created in PhpStorm to listen for incoming connections with provided IDE key.

[2016-04-03 21:36] paliarush opened #17 "Add optional Varnish support"
If enabled in [config.yaml](https://github.com/paliarush/magento2-vagrant-for-developers/blob/2.0/etc/config.yaml.dist), varnish 4 must be enabled by default after project initialization ([init_project.sh](https://github.com/paliarush/magento2-vagrant-for-developers/blob/2.0/init_project.sh) execution).
Ideally it should be possible to change this option, reinstall Magento using [m-reinstall](http

[2016-04-03 21:43] paliarush opened #18 "Add Magento Sample Data Support"
It should be possible to specify sample data repository in [config.yaml](https://github.com/paliarush/magento2-vagrant-for-developers/blob/develop-phpstorm-settings/etc/config.yaml.dist). New script should be introduced (e.g. `m-reinstall-with-sample-data`) and it should  link sample data directories, invoke `m-reinstall` and then unlink sample data directories.

When you switch between CE and EE,

[2016-04-05 15:15] ClaudiuCreanga opened #19 "Does it install magento automatically? question"
I don't understand why there is a config.yaml file. Does it run composer install automatically? If yes, I don't see why because most likely you are cloning an already existing project with a database and start making changes... Or am I wrong?

[2016-04-05 16:43] paliarush commented on #19
[config.yaml](https://github.com/paliarush/magento2-vagrant-for-developers/blob/2.0/etc/config.yaml.dist) allows you to configure several things:
- git repository/repositories to be cloned. Options include
  - https://github.com/magento/magento2 (default one)
  - https://github.com/magento/magento2-community-edition (to install Magento from composer packages)
  - core Magento developers use anothe

[2016-04-05 18:17] paliarush opened #20 "Automate remote interpreter configuration"
The following step should be automated and performed in scope of [init_project.sh](https://github.com/paliarush/magento2-vagrant-for-developers/blob/2.0/init_project.sh):

Current issue seems to depend on [Generate settings.jar for PhpStorm](https://github.com/paliarush/magento2-vagrant-for-developers/issues/14)

[2016-04-05 21:29] ClaudiuCreanga commented on #19
Thanks for replying. Is there a possibility to use your setup to build a development environment for an already existing magento installation which is live?
From what i understand running bash init_project.sh will install a clean version of magento.

[2016-04-06 14:07] paliarush commented on #19
init_project.sh will install a clean version of Magento, that is correct. However, it should be possible to migrate your live DB to this environment after installation, try to search at http://magento.stackexchange.com how to do that.

[2016-04-07 14:57] paliarush opened #21 "Remove github token requirement"
Github token is not required anymore for avoiding rate limits while downloading composer dependencies.
Github token specification must be made optional and documentation should be updated accordingly (remove step from Installation section and remove [Github limitation](https://github.com/paliarush/magento2-vagrant-for-developers#github-limitations) section)

[2016-04-11 14:18] paliarush commented on #21
Done in scope of https://github.com/paliarush/magento2-vagrant-for-developers/pull/23

[2016-04-11 14:18] #21 closed, assigned to buskamuza

[2016-04-12 00:38] PieterCappelle opened #24 "Magento version"
Hi,

Today at Magento Imagine this github repository has been on multiple slides. I did an installation like described in the readme and everything is working fine. One issue: the default version after installation is v2.0. Magento2 is already on v2.0.4. How can this be fixed?

When updating: i get the message 'We're sorry, no components are available because you cloned the Magento 2 GitHub reposi

[2016-04-12 09:51] aaronallen8455 opened #25 "Options missing from design configuration in backend"
Hi,
I followed the instructions and got the store up and running. The problem I'm having is that the only option showing up in the design configuration area is for 'Search Engine Robots', everything else is missing and so I have no way of changing the theme. Any ideas?
Thanks

[2016-04-12 14:09] paliarush commented on #24
Hi @PieterCappelle, what you actually get by default is the latest `develop` branch of Magento 2 (https://github.com/magento/magento2). So it is even more fresh than v2.0.4.

If you need to get some specific version of Magento 2, please follow this step from [installation guide](https://github.com/paliarush/magento2-vagrant-for-developers#installation-steps):

You can specify custom repositories f

[2016-04-12 14:29] paliarush commented on #25
Hi @aaronallen8455 . You should follow instructions provided in http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/themes/theme-apply.html . The only difference is that theme configuration was moved to `Content => Design => Configuration` in the latest develop branch. When you check out develop branch you technically get unreleased Magento v2.1 (which has significant changes comparing to v2

[2016-04-12 18:02] PieterCappelle commented on #24
Hi @paliarush, thanks for your response. Let's split up some answers.

1) Strange, my version after install is 2.0.0. This is my config.yaml file.

[code]

2) You got any answer about the composer question, that's not so clear for me from the docs. Thanks in advance.

[2016-04-12 22:10] paliarush commented on #24
@PieterCappelle First of all, this box is created for developers and developers don't use Magento installed from Composer packages, they check out code from the git. At the same time upgrade tool will work only if you install Magento from Composer packages, that is why you were getting that error message about Magento being cloned.

Even though after check out you see version as 2.0.0, actual vers

[2016-04-22 14:58] hshar7 opened #26 "No field for amqp-virtualhost"
Need to add option to m-reinstall script for amqp-virtualhost.

[2016-04-25 18:15] hshar7 commented on #26
3e260f7c5ad423f747e2944fe9f592787c96b8f4

[2016-04-25 18:15] #26 closed, assigned to nobody

[2016-04-26 17:22] paliarush commented on #10
Fixed in https://github.com/paliarush/magento2-vagrant-for-developers/commit/1409e548f47e1238a214b15d3ebfb9b92fa32dd6

[2016-04-26 17:25] paliarush opened #28 "Upgrade PHP 5.5.9 to PHP 5.6"
The latest version of Magento 2 develop branch has a new minimum requirement for PHP version as 5.5.22, so it makes sense to upgrade directly to 5.6.

[2016-04-26 20:42] paliarush opened #29 "Make guest configs editable from IDE"
Would be really convenient to edit guest configs directly from IDE, e.g. PHP, Apache, MySql, Varnish, hosts etc.

[2016-05-13 13:54] arkadiych opened #31 "Add swapfile to use less physical memory"
If we need to install magento EE and run tests, then about 3GB of memory should be allocated.
I propose to add swapfile to guest machine and add ability to configure size of swapfile ("0" means no swapfile).
Would be nice if swapfile settings could be applied after "vagrant reload"

[2016-05-16 20:03] paliarush commented on #29
Merged with #32

[2016-05-16 20:03] #29 closed, assigned to paliarush

[2016-05-16 20:04] paliarush commented on #10
Merged with #32

[2016-05-16 20:04] #10 closed, assigned to nobody

[2016-05-20 18:26] arkadiych opened #34 "Add Redis Support"
- Enable Redis for session (with configurable fields). Changes should be applicable after "vagrant reload".
  http://devdocs.magento.com/guides/v2.0/config-guide/redis/redis-session.html
- Enable Redis for FPC (with configurable fields). Changes should be applicable after "vagrant reload".
  http://devdocs.magento.com/guides/v2.0/config-guide/redis/redis-pg-cache.html

[2016-05-20 18:38] arkadiych opened #35 "Add Timezones Suport"
Timezones should be configurable via config.yaml and have default values. Changes should be applicable after "vagrant reload".
Add a shell script to show timezones "all in one" including all Magento config timezones(all scopes) . Should show timezone in UTC, name of timezone, difference with default Magento timezone.
Next timezones should be supported:
- php timezone;
- db timezone;
- web server t

[2016-05-20 18:55] #8 closed, assigned to nobody

[2016-05-20 18:55] #19 closed, assigned to nobody

[2016-05-20 18:55] #24 closed, assigned to nobody

[2016-05-20 18:55] #25 closed, assigned to nobody

[2016-05-25 20:09] BaDos opened #36 "Is Windows 10 supported?"
I got the following error message when I had ran the command `bash init_project.sh` on Windows10 64bit:

[code]

[2016-05-25 20:49] BaDos commented on #36
When I had tried to run `D:/dev/magento2/lib/php/php.exe -v` in default CMD, I got the error:

Downloading and Installation [VS C++ 2012](https://www.microsoft.com/en-us/download/details.aspx?id=30679) has helped me.
It is necessary to download and install **VSU_4\vcredist_x86.exe**

May be need to add this information to description.

[2016-05-31 07:38] arkadiych opened #38 "If EE is updated with files, no linking will be made"
If you use EE and add some new files after m-switch-to-ee, then these files will not be linked to the project. Need to add possibility to re-link EE.

[2016-06-01 13:54] arkadiych opened #40 "[Windows] m-switch-to-ee with 2gb might be failed during magento installation step"
Steps to reproduce:
1. Set memory to 2048.
2. Run m-switch-to-ee, wait while files are synchronized, press any key to resume magento installation process.

Expected: Magento EE installed successfully.
Actual:  m-switch-to-ee fails with killed process. (not always reproducible)

Workaround: run "vagrant reload"

[2016-06-01 17:40] #28 closed, assigned to arkadiych

[2016-06-08 09:28] riconeitzel opened #42 "scripts throw 'expected binary operator'"

[2016-06-08 09:44] riconeitzel opened #44 "all path variables missing quotes"
which leads to heavy issues with spaces in root paths

[2016-06-08 09:53] riconeitzel opened #46 "Package fabpot/php-cs-fixer is abandoned"
Package fabpot/php-cs-fixer is abandoned, you should avoid using it. Use friendsofphp/php-cs-fixer instead.

[2016-06-08 14:26] paliarush commented on #46
This is actually a dependency of Magento2, not of vagrant project (see https://github.com/magento/magento2/blob/develop/composer.lock#L3036). I assume it will be fixed soon.

[2016-06-08 14:26] #46 closed, assigned to nobody

[2016-06-08 15:35] #42 closed, assigned to nobody

[2016-06-08 15:35] #44 closed, assigned to nobody

[2016-06-08 15:37] paliarush commented on #42
@riconeitzel what host environment do you have? I have never seen this error

[2016-06-08 16:10] riconeitzel commented on #42
OS X El Capitan, using ZSH

Best, Rico

[2016-06-08 16:24] wickywills opened #48 "Unable to run init_project.sj"
When trying to run the command `bash init_project.sh`, I receive the following:

[code]

[2016-06-08 16:31] paliarush commented on #42
Ok, thanks, never tried that though. Everything worked fine in the native El Capitan terminal and PhpStorm terminal

[2016-06-08 16:38] paliarush commented on #48
@wickywills Not sure why you have this plugin being installed, it is definitely not required by current vagrant project. Try `vagrant plugin uninstall vagrant-libvirt` and then re-run `bash init_project.sh`

Also thy to check documentation of this plugin if you need it: https://github.com/vagrant-libvirt/vagrant-libvirt#possible-problems-with-plugin-installation-on-linux

What is your host OS?

[2016-06-08 17:36] paliarush commented on #9
Merged in scope of #39

[2016-06-08 17:36] #9 closed, assigned to paliarush

[2016-06-09 12:29] wickywills commented on #48
Hi paliarush,

Thank you for the response, I have uninstalled vagrant-libvirt as you mention, however I am now receiving the following when trying again to run the sh script:

[code]

For reference, my host OS is Ubuntu 16.04

[2016-06-09 14:25] paliarush commented on #48
What happens if you invoke `vagrant plugin install vagrant-hostmanager` in the root of vagrant project? If having the same failure, then root cause seems to be in vagrant (try to reinstall it or search on vagrant-specific resources).

[2016-06-09 15:42] wickywills commented on #48
Thanks again for your response, managed to get a LOT further this time after I reinstalled Vagrant! Now receiving the following error:

[code]

Any ideas? Really appreciate the help - really close now I think!

[2016-06-09 16:28] paliarush commented on #48
Maybe NFS server is disabled on your host. Usually is enabled on Ubuntu as far as I know. Check out this https://help.ubuntu.com/community/SettingUpNFSHowTo

[2016-06-09 22:05] paliarush opened #49 "Add ElasticSearch support (EE only)"

[2016-06-09 22:06] paliarush opened #50 "Add Solr support (EE only)"

[2016-06-15 17:48] paliarush opened #52 "Enable phpmd and phpcs automatically in PhpStorm"

[2016-06-20 04:39] #48 closed, assigned to nobody

[2016-06-20 04:40] paliarush commented on #16
Done: b5a4a60569d129c5db5529e4d81fb8837b234cfb

[2016-06-20 04:40] #16 closed, assigned to nobody

[2016-06-20 19:09] paliarush commented on #17
Completed and merged in scope of #41

[2016-06-20 19:09] #17 closed, assigned to hshar7

[2016-06-21 03:46] #11 closed, assigned to nobody

[2016-06-22 14:48] paliarush commented on #12
Fixed in scope of #54

[2016-06-22 14:48] #12 closed, assigned to nobody

[2016-06-22 14:51] paliarush opened #55 "Support Magento installation from Composer packages"
Current workaround is to populate `<vagrant_project_root>/magento2ce` using the similar command before running `init_project.sh`:

`composer create-project magento/project-enterprise-edition=2.1.0-rc2 --repository-url=https://repo.magento.com --ignore-platform-reqs`

[2016-06-22 23:20] #36 closed, assigned to nobody

[2016-06-24 10:36] BaDos commented on #9
How about sending emails to the real address?
Could I send emails to the real address?
Thanks.

[2016-06-27 08:57] riconeitzel opened #58 "init-project.sh failing when in directory structure with spaces"
Put you project into /Volumes/_/My Vagrant Machines/_ and let the init-project.sh run.

[2016-06-27 16:12] paliarush commented on #9
@BaDos it was not planned, but you can contribute alternative solution based on "postfix". Then we need to have some switch in config.yaml to choose between logging to file and sending to real addresses.

[2016-06-27 21:26] CNSam opened #59 "chmod: cannot access ‘bin/magento’: No such file or directory"
Hi there,

During the installation (presumably at the part where it tries to install Magento) I am getting the following error:

[code]

Please could you advise where im going wrong?

[2016-06-28 14:41] paliarush commented on #59
@CNSam What is your host OS? If windows, then probably Magento codebase was not uploaded to the guest for some reason. Also please check FAQ section in readme, it is possible that you find answer there.

[2016-06-28 15:20] dlehren opened #60 "php version 7.0.5"
Hi,

On a fresh install i am getting the below error.
"Magento supports PHP 5.6, 7.0.2, and 7.0.6 or later. Please read Magento System Requirements."

It seems like its installing a php version(7.0.5) thats not compatible with magento 2.1.0

Thanks.

[2016-06-28 16:35] paliarush commented on #60
@dlehren Looks like you have old vagrant box. Try to run:
`vagrant box update` and then recreate project.

Also `vagrant reload` should help since there are scripts in place which upgrade environment for you. Just make sure that you have the latest code from 2.0 branch of current project.

[2016-06-28 19:22] dlehren commented on #60
@paliarush
Thanks that worked.

[2016-06-28 19:22] #60 closed, assigned to nobody

[2016-06-30 09:06] jrosell opened #62 "Add help documentation to configure phpunit in windows"
I'm trying to configure phpunit in phpstorm and I get errors. I think it would be wonderful to have documentation on how to configure phpunit in windows.

Tried to follow:
- https://confluence.jetbrains.com/display/PhpStorm/Running+PHPUnit+tests+over+SSH+on+a+remote+server+with+PhpStorm
- http://devdocs.magento.com/guides/v2.0/test/unit/unit_test_execution_phpstorm.html

When I "play" phpunit, i g

[2016-07-01 16:47] paliarush commented on #58
Is blocked by https://github.com/mitchellh/vagrant/issues/7540

[2016-07-01 17:09] paliarush commented on #62
Steps I follow to run tests:
1. Make sure that remote PHP is selected as Interpreter (use Deployment configuration, not Vagrant configuration in Interpreters form)
2. Copy phpunit.xml.dist to phpunit.xml and make necessary changes
3. Limit scope to specific tests, e.g. `<directory suffix="Test.php">testsuite/Magento/Framework/MessageQueue/ConfigTest.php</directory>`
4. Right click on phpunit.xml a

[2016-07-02 04:31] paliarush commented on #58
Issue is fixed for Windows hosts and for Linux/OSX hosts in non-NFS mode. Should work in NFS mode when mitchellh/vagrant#7540 is resolved.

[2016-07-02 04:33] #58 closed, assigned to nobody

[2016-07-02 04:48] #59 closed, assigned to nobody

[2016-07-02 05:47] paliarush commented on #40
@arkadiych Will you be able to fix this? I cannot reproduce it on OSX

[2016-07-07 20:36] Jrb1x opened #64 "Cannot switch to EE"
The config.yaml file shows the correct path to the magento2ee folder. Upon running:

`bash init_project.sh -c`

I still get the message that the EE codebase is not available.

[2016-07-08 14:13] paliarush commented on #64
I don't think it is possible to use `-c` without `-f` (recreation of box), so please try `bash init_project.sh -fc`.

I suppose you mean ee repository, not path.

Another way to add EE after project is already initialized - to manually checkout magento CE codebase to `vagrant_project/magento2ce` and checkout magento EE codebase to `vagrant_project/magento2ce/magento2ee`. Then just run `bash m-swit

[2016-07-08 14:50] Jrb1x commented on #64
Thanks for the reply. Yes, I meant repository. I've got EE up on a private repo and I'm using the repository url in `config.yaml`.

I ran `bash init_project.sh -fc`and still no luck. I also tried checking the repo's out after initializing. Still no luck.

[code]

[2016-07-08 14:52] Jrb1x commented on #64
It does attempt to clone the EE repo whenever resetting the environment, but it still doesn't see it after bringing the box up.

[2016-07-11 14:55] paliarush commented on #64
@Jrb1x could you please share your `config.yaml`?

Are you able to clone your repository using git protocol manually via command line without entering credentials? In such format
 `git clone git@github.com:paliarush/magento2-vagrant-for-developers.git .`

[2016-07-13 15:55] spittfree commented on #18
Hi,

Any progress on the sample data?

Thanks,
Carles

[2016-07-14 15:10] paliarush commented on #18
@spittfree Cannot guarantee, but may be done in a month or so. You are welcome to participate, current code is available in separate branch: https://github.com/paliarush/magento2-vagrant-for-developers/tree/Sample-Data-Support

[2016-07-14 16:23] spittfree commented on #18
Will take a look, thanks

[2016-07-19 02:35] willboudle opened #65 "Only see app and etc directory"
I'm on windows 10 and get all the way through the installation, but when I launch in browser I just see the app directory and in that only the etc directory. Any idea what I could be doing wrong?

[2016-07-19 22:52] paliarush commented on #65
@Willboudle maybe your issue is described in [FAQ](https://github.com/paliarush/magento2-vagrant-for-developers#faq). Unfortunately, I don't have access to Windows 10 machine to reproduce it.

@BaDos do you know what can be the issue?

[2016-07-20 10:33] BaDos commented on #65
@paliarush no, I don't know.
It is a very strange issue.

[2016-07-21 09:45] BaDos commented on #65
@Willboudle do you see other files of magento on windows?
If you connect to VM by ssh, do you see other files in folder /var/www/magento2ce?

[2016-07-23 06:39] kartguru commented on #65
just FYI. I installed the on a windows 10 machine last Saturday (less  PHPStorm) . it did take me a few attempts to ensure all the necessary programs were installed ... researching all errors etc. I didn't have a requirement to follow Issue #36 though I have installed VS in a previous vagrant attempt (different build). I thought it was an earlier build though.

i have had issues, which I'm trying

[2016-08-01 22:39] refaelgold opened #69 "install npm by default"
i try to install npm and gulp at the vagrant machine but i get a lot of issues
there is any why to install it that you recommended?

thanks!

[2016-08-03 17:05] paliarush commented on #69
Here is the list of steps provided by @riconeitzel when he was installing npm and grunt (not sure about gulp):

1.) git clone https://github.com/paliarush/magento2-vagrant-for-developers.git mage2_vagrant
2.) cd mage2_vagrant
3.) git clone https://github.com/magento/magento2.git magento2ce
4.) cd magento2ce
5.) git checkout 2.0
6.) ./init-project.sh
7.) git clone https://github.com/magento/magento

[2016-08-04 02:23] paliarush commented on #49
Merged in scope of #70

[2016-08-04 02:23] #49 closed, assigned to nobody

[2016-08-04 03:52] #40 closed, assigned to nobody

[2016-08-04 15:49] LCIJJ opened #71 "Cannot switch to EE using bash m-switch-to-ee"
I'm downloading EE from a private repo. Here's what the repo section of my config.yaml looks like.

[code]

From my host machine, executing `bash m-switch-to-ee` returns the following:

[code]

[2016-08-04 16:13] paliarush commented on #71
@LCIJJ Do you have this file `/c/Projects/vagrant-magento/magento2ce/magento2ee/app/etc/aliases_to_classes_map.json` ? This is indirect check to make sure that EE codebase is available, feel free to change this condition to use any other file that exists in your EE repo.

[2016-08-04 17:33] LCIJJ commented on #71
I switched the condition to a file that exists and now I get the following message:

[code]

However, I login into the server and run the following:

`vagrant@magento2:~$ echo ${MAGENTO_ROOT}
/var/www/magento2ce
`

I was expecting the root to be `/var/www/magento2ce/magento2ee`. How do i switch to this folder?

[2016-08-05 05:59] paliarush commented on #18
Merged in scope of #72.

@spittfree feel free to checkout.

[2016-08-05 05:59] #18 closed, assigned to paliarush

[2016-08-05 06:13] riconeitzel commented on #69
This one's slightly buggy in the first numbers.

Will provide an update soon!

[2016-08-06 13:54] refaelgold commented on #8
There is an option to connect to mysql via IDE like phpstorm?

[2016-08-08 03:47] paliarush commented on #8
@refaelgold sure, I personally use PhpStorm to connect to DB (via SSH tunnel), see https://confluence.jetbrains.com/display/PhpStorm/Databases+and+SQL+Editor+in+PhpStorm#DatabasesandSQLEditorinPhpStorm-Settingupadatabaseconnection

[2016-08-08 03:49] paliarush opened #73 "Improve UX of CLI scripts"

[2016-08-08 09:30] yuheng6336 commented on #46
I am using Magento 2.0.5. When I run the composer update  command it's showing the following warning.
Package fabpot/php-cs-fixer is abandoned, you should avoid using it. Use friends ofphp/php-cs-fixer instead.
Writing lock file
can you help me?

[2016-08-08 11:28] Szaamaan opened #74 "Sample data for CE"
Hi,

is it me, or is sample data not working currently? The default config.yaml file seems to have filled out defaults for the CE edition with sample data (only thing NOT set is the "install_sample_data" option).

Regardless of the "install_sample_data" option, the sample data isn't installed. If I attempt to deploy it manually using "bash m-bin-magento sample:deploy" (which seems it shouldn't be

[2016-08-08 15:02] paliarush commented on #46
@yuheng6336 Just ignore this warning. It is a dependency of Magento 2 itself so I cannot fix it in vagrant project.
I expect it to be fixed in the nearest release of Magento 2.

[2016-08-08 15:05] paliarush commented on #74
@Szaamaan can you please post here your config.yaml content (repository_url and magento sections)?

[2016-08-08 15:09] paliarush commented on #71
Magento CE codebase should be  in `/var/www/magento2ce`
Magento EE codebase should be in `/var/www/magento2ce/magento2ee`

Then try to run suggested command `m-switch-to-ee -f`

[2016-08-08 16:04] Szaamaan commented on #74
@paliarush Like I wrote, I'm using the stock config basically:

[code]

The only changes I've made to the config are:
- in `guest` I've increased memory
- in `magento` I've set `install_sample_data` to 1 and changed the host name

[2016-08-08 17:02] paliarush commented on #74
Config looks good.

Have you tried to run `bash ./init_project.sh -fc`? Note that this command will remove your current code base and box itself, then will recreate everything from scratch.

There are 2 ways to install sample data: via composer or via linking git repositories. Here we use second approach. So don't try `m-bin-magento sampledata:deploy`. BTW, there was a typo in your command `bash m

[2016-08-08 17:07] Szaamaan commented on #74
@paliarush Yes. I've tried that. Again, it seems the sample data is somehow incompatible with the dev version of Magento...

[2016-08-08 22:47] paliarush commented on #74
Just set up new instance of vagrant project from scratch using the following settings and sample data was successfully installed:

[code]

BTW specified sample data repository is kept in sync with develop branch of Magento, so this should not be a problem.

My host is OSX, which one do you have? Unfortunately I don't have access to Windows host at the moment to test it.

Will leave it open, maybe

[2016-08-09 04:54] Szaamaan commented on #74
In that case it might be something with the script running on a Windows host. Again, sample data is never installed, despite the correct settings in `config.yaml`.

EDIT:
Excuse my ignorance, but perhaps I'm missing some step?

From my understanding - running the config you posted should result in a working Magento installation already populated with sample data (visible right on the main page)? I

[2016-08-09 14:29] paliarush commented on #74
@Szaamaan just looked at `init_project.sh` and found old comment related to linking EE (the same is valid for sample data linking):

So on Windows you will not get EE and Sample data installed just by running `init_project.sh`.
You need to perform one more step after CE with no sample data is successfully installed. Run `m-switch-to-ce -f`, then you should see prompt:

Basically you need to make s

[2016-08-10 21:25] crantron opened #76 "SSH hanging"
I have tried everything, I'm must be missing something silly. Thanks for any help

[code]
- debug info

[code]

[2016-08-12 21:59] paliarush commented on #76
@crantron this seems to be an issue with Vagrant, please try to report it to https://github.com/mitchellh/vagrant/issues

[2016-08-12 22:01] paliarush commented on #64
@Jrb1x did you make it work?

[2016-08-12 22:03] paliarush commented on #65
@willboudle were you able to make it work?

[2016-08-14 17:55] jasonheecs commented on #74
Hi,

I'm having the same issue on OSX 10.11.6.

One thing I noticed is when doing a ls of $MAGENTO_ROOT/dev/tools is that the symlink seems to be an invalid one. Could it be due to the case sensitivity of the file paths (users vs Users)?

<img width="1192" alt="screen shot 2016-08-15 at 1 49 31 am" src="https://cloud.githubusercontent.com/assets/9844923/17650869/489db2fa-628b-11e6-92c0-9a612c513f3

[2016-08-15 13:50] willboudle commented on #65
No I was not.

[2016-08-15 14:22] paliarush commented on #74
@jasonheecs since OSX is case insensitive and Ubuntu is case sensitive, it can be a problem. Please read item 9 in https://github.com/paliarush/magento2-vagrant-for-developers#faq

I recommend to do `init_project.sh -fc` in this case (will pull codebase again and re-create box based on your current config.yaml).

[2016-08-15 15:46] crantron commented on #76
This was due because of running vagrant inside of a ubuntu virtual on mac OSX. Too much inception.

[2016-08-15 15:46] #76 closed, assigned to nobody

[2016-08-15 16:25] LCIJJ commented on #71
From "magento2ce" directory I downloaded and installed EE via composer:
`composer create-project --repository-url=https://repo.magento.com/ magento/project-enterprise-edition magento2ee`
After installation completed, I ran `m-switch-to-ee -f` command and the following error displays accessing Admin area via browser.
![screen](https://cloud.githubusercontent.com/assets/20110851/17670936/53db76c8-62

[2016-08-15 21:57] paliarush commented on #71
The problem is that if Magento EE codebase is checked out via composer, it does not contain tools necessary for linking/unlinking so it is impossible to switch to EE and back.

Current vagrant project is created for developers and it is assumed that developers will work with git repositories.

If you just need to get composer-based EE installation running, then go to <vagrant_project_root> and exe

[2016-08-15 22:00] paliarush commented on #76
@crantron yeah, you cannot run one VM inside of another VM using Virtual Box.

[2016-08-16 22:09] #64 closed, assigned to nobody

[2016-08-16 22:09] #65 closed, assigned to nobody

[2016-08-22 07:52] drupality opened #77 "Cannot edit product from sample data"
I have install CE version with sample data by `m-switch-to-ce -f`.

Now I'm trying to edit selected product. Product name 'Driven Backpack'.
I've changed activity category for this product, clicked Save and got:

What am I doing wrong? Don't know how to edit product or edit of random data is impossible?

[2016-08-23 14:06] LCIJJ commented on #71
This worked.

[2016-08-23 14:06] #71 closed, assigned to nobody

[2016-08-23 15:00] LCIJJ opened #78 "Application very slow, VagrantFile settings, Magento app permissions error"
Per [instructions document](https://github.com/paliarush/magento2-vagrant-for-developers/blob/2.0/docs/phpstorm-configuration-windows-hosts.md) adding the following code to VagrantFile:

`Vagrant.configure(2) do |config|
  config.vm.synced_folder '../magento2ce/var', '/var/www/magento2ce/var'
  config.vm.synced_folder '../magento2ce/app/etc', '/var/www/magento2ce/app/etc'
end`

...causes this erro

[2016-08-31 14:49] dev-core opened #79 "adding misc extensions befor installing sample data"
I'd like to install some other extensions with the init_project.sh (via composer).
But they have to be installed before the sample data.
How can I handle this?

[2016-09-05 01:38] hvstudio opened #80 "Add composer parallel install plugin"
https://github.com/hirak/prestissimo

[2016-09-06 15:38] nobuttsalex opened #81 "Problems after vagrant suspend"
When doing a vagrant suspend and vagrant up the machine does not return to the same state it was before the suspend. During the vagrant up process I get the errors below which result in a lot of the config files in /etc like the php/mysql/vagrant folders not being created. I am running OS X 10.11.6 but my colleague who is on Windows 10 is not experiencing the same problem so it may be only on Macs

[2016-09-07 11:06] nobuttsalex commented on #81
Looked more into the issue, vagrant provision (which happens at the start of vagrant up) is emptying the /etc/guest folder on the host machine which means the files cannot be mounted to the virtual machine and the symlinks break to the /etc folder.

_edit_ Solution: comment out lines 48 and 49 in configure_environment_recurring.sh as this is deleting all the config files during a vagrant provision

[2016-09-18 12:30] createadrln opened #82 "Only see app dir on host"
After vagrant up when I go to the url the only thing that is there is the /app directory. During the vagrant up commands there is a notice for `chmod: cannot access ‘bin/magento’: No such file or directory`

[2016-09-18 12:31] createadrln commented on #82
This is on Windows 10 with the latest versions of Vagrant and Virtual Box using PHP 7

[2016-09-21 10:14] jasonheecs opened #83 "Option to specify default branches for repositories in config.yaml"
Hi,

I've noticed that the default Magento 2 CE installation is version 2.2-dev as that seems to be the default branch used by the Magento 2 CE git repo. Is there a flag / switch in config.yaml to use version 2.1 during the project initialisation process?

[2016-09-22 14:58] aarcro commented on #81
I use `vagrant resume` after `vagrant suspend` And get different errors:

[code]

I was guessing the error was NFS related, but this time my mounts seem OK. My site still loads, but trying to run `m-bin-magento` gives more errors:

[code]

[2016-09-22 15:12] aarcro commented on #83
I'm trying this:

[code]

[2016-09-23 06:28] jasonheecs commented on #83
@aarcro yeah, that's what I was doing as well. I'm just wondering if there is an option to automate that via the config files that I missed. Seems like there is no such option though.

I made some modifications to the bash script to add such a flag for my own needs. I might make a pull request, but I'm not sure if it is appropriate, given that I assume this box is meant for development for Magento

[2016-09-23 14:41] aarcro commented on #83
Seems reasonable that `-c` for `init_project.sh` take an optional identifier to check out.

OR Maybe add ce_branch to `repository_url` in `config.yaml` and update `init_project.sh` to use that.

Doesn't seem like you can just add `#branch` to the ce url to have it clone at that branch unfortunately.

[2016-09-23 15:45] paliarush commented on #77
@drupality it should be possible to edit any sample data items after installation. If you are still not able to do that, please report this issue at https://github.com/magento/magento2/issues since it is does not seem to be an issue related to vagrant box itself.

[2016-09-23 15:45] #77 closed, assigned to nobody

[2016-09-23 15:48] #73 closed, assigned to paliarush

[2016-09-23 16:22] paliarush commented on #83
@jasonheecs thanks for proposed changes, makes sense.

We need to make sure that it will be possible to specify branch for each of 4 currently supported repositories (CE, EE, Sample data EE and Sample data CE).

We need to find appropriate syntax for `config.yaml`, e.g.

`ce: "git@github.com:magento/magento2.git::branchName"`

Branch name should be optional.

Would you be able to make these change

[2016-09-23 19:32] aarcro opened #85 "Cannot install packages using Magento 2.1 Setup Wizard"
The source directory is exported with uid:gid 501:20, but it should probably be 1000:1000 to match the vagrant user in the VM, correct?

[2016-09-23 21:01] paliarush commented on #85
Actually this is how Vagrant mounts NFS folders by default, there are no custom permissions specified in https://github.com/paliarush/magento2-vagrant-for-developers/blob/2.0/Vagrantfile#L56 .
I have not noticed any issues with permissions, have you? Basically everything in this box configured to be run by vagrant user and all Magento files are owned by this user.

[2016-09-23 21:02] #74 closed, assigned to nobody

[2016-09-23 21:12] aarcro commented on #85
I was trying to run the web setup wizard, and when it runs its `Readiness Check` the `Check Cron Scripts` set fails, which I thought might be related.

If the updater needs to write anything in the NFS folder it will not be able to.

[2016-09-23 21:52] paliarush commented on #85
It should be able because all cron jobs and all php scripts are executed from vagrant user.
It is possible that cron jobs for updater were changed/added recently and thus should be added to the box.
Does this happens for you with updater only or during initial Magento installation as well?

Update: just checked upgrade flow from CE 2.0.9, `Check Cron Scripts` passed. Which version are you trying t

[2016-09-26 13:25] aarcro commented on #85
I'm running 2.1 and just trying to install extensions from the market place.

[2016-09-27 10:16] jatasya opened #86 "git clone not working"
[2016-09-27 15:43:05] Generating random IP address, and host name to prevent collisions (if no custom values specified) [init_project.sh]
[2016-09-27 15:43:05] Configuring git for Windows host [init_project.sh]
[2016-09-27 15:43:06] Checking out CE repository [init_project.sh]

once I reach to the above line the clone of magento2 is being created in magento2ce

[2016-09-27 15:30] paliarush commented on #86
Please try to do the following to understand what's going on:
1. Look at <vagrant_project>/log/debug.log.
2. To debug any CLI script in current Vagrant project, set debug:vagrant_project option in config.yaml to 1

Make sure that your git is configured as described here https://github.com/paliarush/magento2-vagrant-for-developers#requirements

[2016-09-27 17:28] jasonheecs commented on #83
@paliarush I would love to contribute to this project, but I'm swamped in work at the moment, so it could take a while. If there is still a need for this enhancement by the time I'm done, I'll submit a PR :)

[2016-09-27 22:23] paliarush commented on #83
@jasonheecs if you find time to do it in 2 month, would be nice. After 2 month, if no PR, I will work on it. Thank you

[2016-09-27 22:26] paliarush commented on #82
Looks like code base got broken for some reason. Try to recreate project from scratch or make sure that code base is uploaded from your host to guest machine (see [this page](https://github.com/paliarush/magento2-vagrant-for-developers/blob/2.0/docs/phpstorm-configuration-windows-hosts.md))

[2016-09-27 22:35] paliarush commented on #81
@nobuttsalex thank you for reporting this issue.

Directories are cleaned up to make [Accessing configs from IDE](https://github.com/paliarush/magento2-vagrant-for-developers#accessing-php-and-other-config-files) feature work. To be honest, I never do suspend that's why haven't seen this issue before. Instead I use `vagrant halt`. Also everything should work fine after hard VM reset.

I will look

[2016-09-27 22:42] paliarush commented on #78
@LCIJJ Thanks for reporting the issue. Actually that code is already [included in Vagrantfile](https://github.com/paliarush/magento2-vagrant-for-developers/blob/2.0/Vagrantfile#L59), so no need to modify anything (manual was written before this flow was automated).

Since you have Magento from Composer, I'm not sure what can be wrong with permissions (this flow is not natively supported by current

[2016-09-27 22:44] paliarush commented on #79
Download your codebase separately (including necessary extensions) and put it to `<vagrant_project>/magento2ce` directory before running `init_project.sh`, then provided codebase will be used.

[2016-09-27 22:50] paliarush commented on #80
@hvstudio thank you for suggestion. Not sure it is possible since one of basic principles in current vagrant project is that source code is managed only on the host machine. It means that even `composer install` is executed on the host. This is necessary for Windows hosts, which have configured one-way code base synchronization (from host to guest), for performance reasons.

I will consider this o

[2016-09-28 23:59] paliarush commented on #80
@hvstudio have you tried to measure installation time with and without this plugin? For me it is approximately the same on `composer install` for Magento cloned from git with clean `vendor` directory (8-10 seconds).

Will reopen the issue if there is a scenario for which it make sense to use this plugin.

[2016-09-28 23:59] #80 closed, assigned to nobody

[2016-09-29 00:00] #86 closed, assigned to nobody

[2016-09-29 00:01] #82 closed, assigned to nobody

[2016-09-29 00:01] #79 closed, assigned to nobody

[2016-09-29 00:01] #78 closed, assigned to nobody

[2016-09-29 00:05] #62 closed, assigned to nobody

[2016-10-03 04:18] #31 closed, assigned to arkadiych

[2016-10-03 04:19] #15 closed, assigned to nobody

[2016-10-03 04:21] paliarush commented on #38
Is possible now with `m-switch-to-ee -f`

[2016-10-03 04:21] #38 closed, assigned to nobody

[2016-10-03 04:26] paliarush commented on #20
Does not seem to be possible with current (10.2) version of PhpStorm (even via settings import/export)

[2016-10-03 04:26] #20 closed, assigned to nobody

[2016-10-03 04:28] #35 closed, assigned to nobody

[2016-10-03 04:32] paliarush opened #87 "Upgrade Ubuntu to 16.04"

[2016-10-03 08:16] wpoortman opened #88 "Cant find 'guest' file(s)"
When I use the bash init_proces.sh, the command line returns a error which results in a invalid Vagrant installation process.

`bash: /vagrant/scripts/guest/m-clear-cache: No such file or directory`
_This error comes up after 'Unlinking CE sample data'_

Two weeks ago, it all worked perfectly on my local machine.

[2016-10-03 14:11] paliarush commented on #88
Looks like Vagrant is unable to mount shared folders for some reason. Possibly you have broken NFS server configuration on your host (if your host is OSX or Linux).

Have you tried the following item from FAQ to get more info?

[2016-10-06 04:36] paliarush opened #89 "Configure DB connection in PhpStorm"

[2016-10-07 05:41] #13 closed, assigned to paliarush

[2016-10-07 23:22] apothegm opened #91 "ERROR 1146 (42S02) at line 1: Table 'magento.core_config_data' doesn't exist"
I've tried getting this up and running a variety of different ways on a Windows host. Updating all my dependencies and using cmder bash and git bash. But I always get this: `ERROR 1146 (42S02) at line 1: Table 'magento.core_config_data' doesn't exist`

Database gets created, but no tables exist.

Vagrant box goes up but when I visit frontend or backend, I get:

[code]

[code]

[2016-10-08 06:20] paliarush opened #92 "Magento cache warming up"

[2016-10-08 06:28] paliarush commented on #91
This happens because Magento installation fails and database is not populated (should happen [here](https://github.com/paliarush/magento2-vagrant-for-developers/blob/2.0/scripts/guest/m-reinstall#L84)). To understand why this happens, please try to enable debug mode to get more details (see item 1 in [FAQ](https://github.com/paliarush/magento2-vagrant-for-developers#faq)).

Also try to run `bash .

[2016-10-09 11:27] kvodenicharov opened #93 "vagrant-magento/scripts/output_functions.sh: line 168: syntax error near unexpected token `>'"
When running bash init_project.sh on windows 10 I get the following error:

vagrant-magento/scripts/output_functions.sh: line 168: syntax error near unexpected token `>'

[2016-10-10 11:10] Ramboz89 commented on #88
Hello guys, I have got the same problem, I'm on macOs and I've just upgraded to Sierra, could it be the issue?

However on my personal laptop is working just fine.

[2016-10-10 14:22] paliarush commented on #88
@Ramboz89 Can you please make sure that shared folders and NFS-shares were mounted (after `vagrant ssh` there should be project at the same path as on your host)? I'm on Yosemite and haven't  encountered such issue.

[2016-10-10 14:32] paliarush commented on #93
Please make sure that you are running `bash init_project.sh` in GitBash v2.7+, not in native Windows command prompt. Works for me on Windows 10, with git version `2.9.3.windows.1`. If does not work for you in git v2.7+, please provide your version.

[2016-10-12 07:08] kvodenicharov commented on #93
I couldn't get it to work with an older version of gitbash, thus I updated to 2.10.1.windows.1. However it didn't work again.
After enabling bash on ubuntu on my windows 10 however, the setup went fine. Lets consider this issue closed.

[2016-10-12 07:08] #93 closed, assigned to nobody

[2016-10-12 07:10] kvodenicharov opened #94 "Windows environment and NFS"
Have you considered implementing the vagrant plugin for NFS under windows, or better yet the service itself?

I have successfully configured various Magento 2 vagrant boxes with the NFS plugin in order to go around the issue for symlinks in pub/static. It could potentially be a viable option on Windows hosts.

Sources:
https://github.com/winnfsd/winnfsd
https://github.com/winnfsd/vagrant-winnfsd

[2016-10-13 20:02] jasonujmaalvis opened #95 "Installing composer packages"
Hello,

How do I install a composer package? When I navigate to vagrant-magento/magento2ce and enter the following command I get missing PHP extensions error:

[code]

I'm not sure if I'm in the correct directory. I've also tried it in the root directory /vagrant-magento but it just creates a vendors folder outside of the magento folder.

Thank you,
Jason

[2016-10-15 04:15] paliarush commented on #94
Thanks for good suggestion. I haven't considered this plugin.

I don't work on Windows environment and have other improvements which will affect both Mac and Windows users (so plan to do them first). Would be nice If you could create pull request since you have experience and know how to integrate this plugin.

[2016-10-15 04:21] paliarush commented on #95
If you need to install Magento from composer packages, please use this branch https://github.com/paliarush/magento2-vagrant-for-developers/tree/Composer-Create-Project  , it already includes functionality that you need (will be merged to main branch soon).

Make sure to have following section in `etc/config.yaml` of vagrant project:

[code]

It is possible to specify project name with specific ver

[2016-10-16 01:26] #92 closed, assigned to nobody

[2016-10-16 01:27] #55 closed, assigned to paliarush

[2016-10-16 01:28] paliarush commented on #95
Merged to main branch (2.0) in scope of "Composer create project #96"

[2016-10-16 01:28] #95 closed, assigned to nobody

[2016-10-16 01:29] paliarush commented on #91
@apothegm please reopen if you were unable to resolve the issue

[2016-10-16 01:29] #91 closed, assigned to nobody

[2016-10-16 04:23] dazuaz opened #97 "Error running bash init_project.sh"
Had to do:

`composer clear-cache` , most likely because i had previously cloned/installed

Also had to delete entry from /etc/exports due to and NFS error, prolly related to the error I ran into before clearing the composer cache.

Thanks for the project.

[2016-10-16 14:33] paliarush commented on #97
@dazuaz do you mean that you tried to run `ini_project.sh` twice? If so, this is not expected scenario. If you need to recreate project, use `init_project.sh -f` or `init_project.sh -fc` (see readme for details).

If you were trying to install project from scratch, please let me know your OS version and the latest commit in `magento2-vagrant-for-developers` repository you have.

Thanks

[2016-10-16 22:16] paliarush commented on #91
@apothegm I was able to reproduce your issue when checked out Magento codebase manually, but didn't do `composer install` in the root of Magento project. This was not expected flow, but after latest changes even this flow should work. Please let me know if you still experience any issues.

[2016-10-18 04:11] paliarush opened #98 "Improve Magento debugging capabilities"

[2016-10-18 05:22] #14 closed, assigned to nobody

[2016-10-18 05:23] #52 closed, assigned to nobody

[2016-10-18 14:36] cgaubuchon commented on #88
Yup, having the same issue after upgrading to MacOS Sierra. Seems that any/all of my projects that use NFS-shares are no longer sharing the folders as expected. I enabled `debug:vagrant_project` and took a look but there isn't anything that seems to specifically point to this being the issue. Going to search around since this seems to be a Vagrant issue more than an issue with this specific repo.

[2016-10-18 16:10] cgaubuchon commented on #88
Figured it out in my case. I opened the VirtualBox GUI client and noticed that there were two instances of "vagrant-magento" VMs running. Since I didn't have any critical data I stopped and removed them entirely and ran the `init_process.sh` script again and everything worked.

[2016-10-18 18:29] rhssk commented on #88
I'm on Linux system and I'm getting `bash: /vagrant/scripts/guest/m-clear-cache: No such file or directory` error after `Unlinking CE sample data` as well. NFS is at default configuration. I can SSH in Vagrant box but there are no shared folders mounted.

Here's a debug dump:
https://gist.github.com/rhssk/f32fbf555cb65176029af609f51c7fb0

[2016-10-18 22:37] paliarush commented on #88
@cgaubuchon Thanks for investigating that.

@rhssk I can see in [logs](https://gist.github.com/rhssk/f32fbf555cb65176029af609f51c7fb0#file-magento2-vagrant-for-developers-debug-dump-L2485) that Vagrant failed to mount shared folders in your case. Looks like some incompatibility of Vagrant+VirtualBox+NFS+YourOS. If you cannot make NFS work, it is possible to set [use_nfs](https://github.com/paliaru

[2016-10-19 13:11] rhssk commented on #88
@paliarush That's a shame, haven't had any issues when working with NFS alone. Any guess what causes the `[Unknown source file]` error? From the log it seems unrelated to NFS issues.

[2016-10-19 15:46] paliarush commented on #88
@rhssk I can see in log the following:

Have you tried to create simple Vagrantfile which will mount NFS folders on your environment? Something like this should work (then just do `vagrant up`):

[code]

[2016-10-19 18:27] rhssk commented on #88
That results in
<pre><code>The following SSH command responded with a non-zero exit status.
Vagrant assumes that this means the command failed!

set -e
mkdir -p /var/www/test
mount -o vers=3,udp 192.168.11.1:/home/user/test/var/www/test
if command -v /sbin/init && /sbin/init --version | grep upstart; then
  /sbin/initctl emit --no-wait vagrant-mounted MOUNTPOINT=/var/www/test
fi

Stdout from the c

[2016-10-19 19:14] #97 closed, assigned to nobody

[2016-10-20 08:40] rhssk commented on #88
In my case ufw was the reason why nfs timed out.

[2016-10-20 16:51] paliarush commented on #88
@rhssk Thanks for checking. I'll improve error reporting for the case when NFS cannot be mounted, to avoid any confusion in the future.

[2016-10-21 13:06] jasonujmaalvis commented on #95
Thank you for your response! I ended up using the `--ignore-platform-reqs` option which worked perfectly.

[2016-10-30 14:10] jasonheecs commented on #83
@paliarush Hi, made a pull request #99. Please review it :)

[2016-10-31 03:46] #34 closed, assigned to nobody

[2016-10-31 03:47] #88 closed, assigned to nobody

[2016-10-31 03:47] #98 closed, assigned to nobody

[2016-10-31 03:53] paliarush opened #101 "Add Magento Upgrade Support"

[2016-10-31 03:55] paliarush opened #102 "Add Lightweight Sample Data Support"
Would be nice to have a customer and a product created by default after installation.

[2016-11-05 20:35] paliarush commented on #83
Merged in PR #103.

[2016-11-05 20:35] #83 closed, assigned to nobody

[2016-11-18 09:21] jasonheecs opened #107 "SSL Support"
I think it would be great if there was an automated way to provision the Vagrant box for self-signed SSL support. Maybe it should be a bash script that the user can run? What do you think?

[2016-11-18 16:00] paliarush commented on #107
Hi Jason, here is how I enable SSL on this environment:

[code]

And in `magento2.conf` replace contents with the following. It is better not to use mixed mode so when HTTPS is enabled HTTP should be disabled:

[code]

And there is tricky part, when you try to enable/disable varnish (see https://github.com/paliarush/magento2-vagrant-for-developers/blob/2.0/scripts/guest/configure_varnish), your 44

[2016-11-19 09:26] valoujjal commented on #91
Hi, i'm new to magento i'm trying follow your instruction to install magento through vagrant box. but each time i install magento without sample data it works fine but whenever i try to install sample data it stops working says some a:4:{i:0;s:105:"SQLSTATE[HY000] [2002] errors... then i tried to implement this solution vagrant ssh and run sudo dpkg-reconfigure mysql-server-5.6, sudo service mysql

[2016-11-22 10:19] rhssk opened #108 "Set CPU core count"
By default a fresh installation always ends up having just 1 CPU core. It is possible to change that in Vagrant file by adding
`config.vm.provider "virtualbox" do |v|
  v.cpus = X
end`

Maybe it could be possible to automatize this with something like this?
https://gist.github.com/WIZARDISHUNGRY/2660808

[2016-12-02 04:45] jasonheecs commented on #107
Hi @paliarush, yeah, I experimented around with it, and it seems really tricky. Varnish doesn't support SSL termination. How about installing Nginx on the Vagrant box and using it as a [SSL termination proxy](https://komelin.com/articles/https-varnish)?

Edit: Nevermind, the same issue with Varnish seem to occur even if you use Nginx instead of openssl. May need to relook at this from another pers

[2016-12-05 23:26] paliarush commented on #91
@valoujjal have you tried to enable debug mode by setting `debug:vagrant_project` option in config.yaml to 1? This should give you the maximum output. Regarding different browsers, there may be duplicate records pointing to different servers in `hosts` file on your Windows10.

Does it work for you without sample data?

Sorry for late response.

[2016-12-05 23:33] paliarush commented on #108
@rhssk Have you tried to set 2 or more CPUs for this box? Does it give any performance improvement?
I can make it configurable via `config.yaml` (the same way it is done for RAM). I'm not sure if it makes sense to increase the number of CPUs automatically because you can have multiple boxes running at the same time and as far as I understand, each of them will reserve specified number of CPUs

[2016-12-05 23:38] rhssk commented on #108
For me the difference between 1 and 2 cores is very noticeable, especially after clearing cache and reloading site.

[2016-12-06 18:46] kaynenh opened #109 "ERROR 1146 (42S02) at line 1: Table 'magento.core_config_data' doesn't exist"
I'm seeing an Error 1146 when I attempt to install. I'm not sure where to go with this as I've tried reinstalling based on the information in this thread: #91

Here are the verbose errors. I'm assuming that "Table 'magento.core_config_data' doesn't exist [Unknown source file]" is the line where it's failing:

[code]

[2016-12-07 23:31] paliarush commented on #109
Please try to execute `bash ./m-reinstall` right after getting this failure and look at the output in `./log/debug.log`. It should give you the details why exactly Magento installation failed.

[2016-12-08 13:06] kaynenh commented on #109
Thanks! That's what I needed. I found out that the command line version of php I was running didn't have mcrypt or intl installed.

After checking that log, I was getting a composer error during install at `./bin/magento setup:install` that said I needed to run `composer install` in the application directory. When I did that in bash, I saw the errors that mcrypt and intl weren't installed. After i

[2016-12-08 16:08] #109 closed, assigned to nobody

[2016-12-09 13:52] degaray opened #110 "Create an AWS AMI with a compatible environment"
I spent some days trying to get magento2 running on Docker but after realizing it is not compatible with NFS, then it really delivers a very poor performance. Could you create a similar environment we could use on AWS, Digital Ocean or both for production?

[2016-12-11 13:40] wpoortman opened #111 "Project compatible environment"
I've been working on a solution to make things work with for instance Github or Bitbucket repositories. Finally I decided to post this request, after working on it for several days trying to fix all problems I've came across.

Is it possible to add some kind of 'project environment' where you can insert Bitbucket repo url's instead of just only CE or EE repo's. Yes, if you just replace the CE or E

[2016-12-12 15:17] paliarush commented on #110
The main purpose of this project is to give tools to make daily Magento2 development more productive. And here I mainly share what is useful for me personally. For example there are no tools for frontend developers, that's because I don't do frontend development and don't know how to make it more convenient for others. If someone decides to contribute something for frontend development, I would  b

[2016-12-12 15:17] #110 closed, assigned to nobody

[2016-12-12 15:27] paliarush commented on #111
@wpoortman Please commit anything you have at this point to your fork. Also provide step-by-step requirements with URLs to source code of project you are trying to install. As far as I understand so far, you are trying to install a project, which has Magento as a dependency in composer.json, correct?
Thank you for your interest in this project.

[2016-12-13 14:09] FinBoWa commented on #108
I'd suggest against it to be automatic if you referer on this:

https://github.com/geerlingguy/drupal-vm/issues/855

But making it default to 1 and allow to it be changed easily it would be something that is good to add as it would be easier give more cpus if you don't mind the performance hit.

[2016-12-14 06:26] paliarush opened #112 "Improve error reporting"

[2016-12-19 18:06] TapaniAla opened #113 "Windows symlink problem"
I have an issue running bash init_project.sh in Windows10:
magento2.vagrant204: [] >  Making guest configs visible and editable in the host IDE [/vagrant/scripts/guest/link_configs]
STATUS: >  Making sure configs are restored on system halt and during reboot [/tmp/vagrant-shell]]
[] ERROR: >  mv: cannot create symbolic link ‘/vagrant/etc/guest/apache2/sites-enabled/magento2.conf’: Protocol error

[2016-12-19 18:46] TapaniAla commented on #113
Fixed it!
This was just an issue caused by running Git Bash without Admin priviledges.

[2016-12-19 18:46] #113 closed, assigned to nobody

[2016-12-20 16:02] TapaniAla opened #114 "ssh-agent problem"
When running bash init_project.sh I got several error messages like this:
"The error message is shown below. In many cases, errors from this
library are caused by ssh-agent issues. Try disabling your SSH
agent or removing some keys and try again.
If the problem persists, please report a bug to the net-ssh project."
I fixed this issue by removing all keys from ~/.ssh/. Is there a better way to hand

[2016-12-20 23:47] #101 closed, assigned to paliarush

[2016-12-20 23:47] #102 closed, assigned to paliarush

[2016-12-20 23:47] #108 closed, assigned to paliarush

[2016-12-20 23:47] #112 closed, assigned to paliarush

[2016-12-20 23:57] paliarush commented on #114
Not sure what your host is, but I have tested current project on Ubuntu 14.04, OSX 10.11 and Windows 10, and have never seen such issues.

To avoid using ssh keys, you can specify repository URLs in `etc/config.yaml` in https format. See http://stackoverflow.com/questions/5343068/is-there-a-way-to-skip-password-typing-when-using-https-on-github , which describes how to authenticate in this case.

[2016-12-20 23:57] #114 closed, assigned to nobody

[2016-12-21 12:12] TapaniAla commented on #114
Thanks,
This is actually the same error message as in issue #76 but different origin. In my case I have OSX 10.11.
Stackoverflow has many proposals how to solve this problem. The one I already used was the simplest one. Your script is  the most complete and versatile vagrant-magento script I have found so far. I believe it's really hard to make universal script for this environment.

[2016-12-22 18:36] paliarush commented on #109
Improved error reporting in scope of #112 to eliminate future confusion regarding

[2016-12-23 20:06] #81 closed, assigned to nobody

[2017-01-02 04:11] crantron opened #118 "Cannot create Symbolic Link"
- windows 10
 - git version 2.10.0.windows.1
 - PHP 7.1.0
 - Vagrant 1.8.6

[code]

I had to use composer to install the vendor packages manually and it works fine, but is there a fix for this?

[2017-01-02 06:59] TapaniAla commented on #118
I had the same problem in issue #115 and solved it by running Git bash with admin privileges in Windows 10.

[2017-01-05 01:05] #118 closed, assigned to nobody

[2017-01-12 23:47] #69 closed, assigned to nobody

[2017-01-13 04:45] PivitParkour94 opened #119 "No write permissions for /pub/media and /pub/static"
I tried to delete the media and static folders after a `setup:upgrade` and got

[code]
I just assumed that in the setting up of all the folder permissions (like `magento2ce/var`) the `pub/media` and `pub/static` would also be added to that user group.

Is it intentionally not added for some reason? I found I could `sudo rm -rf pub/media` and that worked fine to remove the folders.

[2017-01-20 15:27] paliarush opened #120 "Document how to run all kinds of tests"
1. Functional tests: https://gist.github.com/paliarush/a0e9d8b50541e42db9cb2b82bafff9e4 (please leave your feedback in comments and this gist will be moved to the main project docs after some time)

[2017-01-20 15:30] paliarush opened #121 "Install profiler"

[2017-01-20 15:39] paliarush commented on #119
When this box is installed on Window hosts, ownership of the whole Magento directory should be `vagrant:vagrant`. Apache is running under `vagrant` user so all files created by Magento should have the same owner.

If you could provide mode details (steps to reproduce), I will try to fix it.

[2017-01-25 02:22] PivitParkour94 commented on #119
I did fix it temporarilly by using `chown vagrant:vagrant pub/static pub/media` and I noticed that this is in the provissioning of the Vagrant box, but for some reason it didn't work. I'll play around a bit more.
Thanks

[2017-01-26 10:10] jasonheecs opened #122 "Why isn't the entire project folder being synced on Windows?"
Hi,

What is the [rationale behind only syncing](https://github.com/paliarush/magento2-vagrant-for-developers/blob/e97c83a2e9258f38ca9c3bee69e33904474ca650/Vagrantfile#L62-L64) the '/var' and '/app/etc' directories on Windows?

[2017-01-26 16:36] TapaniAla commented on #74
For some reason Windows Git Bash doesn't always show the message "Wait while ...". It just stops without any message on screen. I have all debugging options set. Anyhow log file m-switch-to-ce.log shows the message when execution stops.
Proposed solution works so just copy/deploy manually sample data from host to guest and continue installation.

[2017-01-30 15:10] paliarush commented on #122
Hi, please see https://github.com/paliarush/magento2-vagrant-for-developers/blob/2.0/docs/performance-issue-on-windows-hosts.md

[2017-01-30 15:10] #122 closed, assigned to paliarush

[2017-01-30 15:11] paliarush commented on #119
Feel free to reopen the issue if you have more details. Thanks

[2017-01-30 15:11] #119 closed, assigned to nobody

[2017-01-31 14:25] samuelecarpene opened #123 "Fail to check mounted directories"
when i execute
`bash init_project.sh`
the execution terminate in the file
`scripts/host/check_mounted_directories.sh`
line 9.

What can i do to solve the problem?
I'm on
- windows 10
- virtual box 5.1.14
- vagrant 1.9.1
- git 2.11.0

[2017-01-31 16:06] paliarush commented on #123
Looks like Vagrant cannot mount shared folders on your instance. Try simple vagrant configuration similar to the one mentioned in https://github.com/paliarush/magento2-vagrant-for-developers/issues/88, but without NFS option. Please let me know the results.

[2017-02-04 16:13] nicolaspernot opened #124 "Problems with deep_merge"
1. Clone repository :

2. Initializing :

3. I get an error :

I read somewhere deep_merge would be a vagrant plugin, but just a `vagrant plugin install deep_merge` return the same error.

[2017-02-06 22:30] paliarush commented on #124
`deep_merge` is from ruby, and is used in Vagrantfile. Maybe there is a problem with your Vagrant version, what is it? What is your OS?

[2017-02-08 21:47] tmos opened #125 "Magerun compatibility"
Hi,

Is there any way to make [Magerun](http://magerun.net/) works with the Vagrant image ?
If I install Magerun on my host system (OSX), and just launch a command, it says :

[code]

Thanks for any help !

[2017-02-08 21:47] wrock commented on #125
Guten Tag,

Vielen Dank für Ihre Nachricht. Ich bin bis 12.2.2017 auf Urlaub.
In dringenden Fällen erreichen Sie meinen Kollegen Herrn Krieger  unter web@rockit.at.

Mit freundlichen Grüßen,
Wolfgang Rock

[2017-02-13 13:00] henryhardy opened #126 "Composer Dependencies not met by local system"
I'm not sure if this is more of a vagrant/composer issue than a repo issue, but say I want to add a composer dependency to my magento install.

I run for example

    composer require yukoff/magento2-sendgrid-smtp

while in the magento directory (not the project root)

It throws an error about needing x php module installed, but I already know this module is installed on the vagrant box. Is there

[2017-02-17 16:05] zharris-LTI commented on #124
I also get this error.

Vagrant version: 1.9.0
OS: macOS Sierra 10.12.3

[2017-02-17 18:21] paliarush commented on #126
Just use `--ignore-platform-reqs` option while using composer, it will ignore PHP requirements then.

[2017-02-17 18:21] #126 closed, assigned to nobody

[2017-02-17 18:24] paliarush commented on #124
I currently have vagrant 1.8.5 installed. Please try any Vagrant version lower than 1.9 and let me know if the problem goes away for you.

[2017-02-17 19:53] zharris-LTI commented on #124
I downgraded to 1.8.7 but then I get an error when it attempts to install the vagrant-hostmanager plugin. This is the error:

Bundler, the underlying system Vagrant uses to install plugins,
reported an error. The error is shown below. These errors are usually
caused by misconfigured plugin installations or transient network
issues. The error from Bundler is:

An error occurred while installing ffi

[2017-02-19 00:59] s2010 opened #127 "'PDOException' with message 'SQLSTATE[HY000] [2002] No such file or directory"
how to change the loaded configuration file used by the php cli.
my web server uses /etc/php/7.0/apache2/php.ini
my php cli uses /usr/local/php5/lib/php.ini
my php cli version PHP 7.0.15 (cli)

[2017-02-19 16:27] nicolaspernot commented on #124
**Vagrant : 1.9**

[code]

**Ubuntu 14.04**
[code]

The issue comes from the `init_project.sh` when the script try to get the list of vagrant plugin :
[code]

I dug into it and `deep_merge` is a RoR method for merging Hash together.
But my knowledge in Vagrant, Ruby language and RoR Framework are very low. I think I understand that Vagrant comes with its own Ruby environment, isolated from the hos

[2017-02-21 15:15] zharris-LTI commented on #124
I haven't been able to make much progress on Vagrant 1.8.7 (or 1.85) due to the error I posted above. However, I noticed the change from config_data_dist.merge! to config_data_dist.deep_merge! in the Vagrantfile was made fairly recently (commit 078dd84). I changed it back to config_data_dist.merge! and that seems to have resolved the issue thus far.

[2017-02-21 17:14] nicolaspernot commented on #124
Maybe because `merge()` is ruby method and `deep_merge()` a RoR method.
But the difference, I think, is that `deep_merge()` merge config files recursively. Merge is not design to do it. By the way, I'm not a Ruby developer, so it's a big I THINK :)

Maybe @paliarush can we implement a `deep_merge()` like method ? I'm not sure it's possible in the VagrantFile itself, but I see some examples through

[2017-02-25 18:28] #123 closed, assigned to nobody

[2017-02-25 18:34] paliarush commented on #124
@nicolaspernot feel free to provide a pull request with your implementation of recursive merge. Looks like current deep_merge does not work well for everyone. Thank you

[2017-02-25 18:39] paliarush commented on #125
@tmos Redis and other tools are installed on virtual machine. I have not used Magerun so not sure about its requirements.

Please try to install Magerun on the guest machine (use 'vagrant ssh' to get inside).

[2017-02-25 18:44] paliarush commented on #127
Use `use_php7` option in `<vagrant_project>etc/config.yaml` to choose between PHP 5 or PHP 7. Then it should be switched automatically after `vagrant reload` on the guest Ubuntu machine. This should change current version for both, web server and CLI.

Also not sure why you've got PHP 7.0.15, the version I have is `PHP 7.0.7-4+deb.sury.org~trusty+1`

[2017-02-25 18:46] paliarush opened #128 "Support new location of 'generated' directory in Magento 2.2.0"
In the latest version of unreleased Magento 2.2.0 `var/generated` was moved to `generation`. Both locations should be supported.

[2017-02-25 20:04] #128 closed, assigned to paliarush

[2017-02-25 20:10] #50 closed, assigned to nobody

[2017-03-02 18:22] dimstar opened #129 "Bad Entries left in /etc/exports"
Hello, I previously had an instance installed on my mac OSX sierra. I attempted installing a second instance into a folder adjacent to where I had the original.

I've since lost NFS folder syncing (if instance complete deployment the guest machine has no local codebase.)

Things seem to have gotten worse and I'm unable to get past this:

[code]

Here is the log output as well
[code]

Any HELP is H

[2017-03-02 19:17] TapaniAla commented on #129
Hi,
you could take a look for this quite similar issue http://tomcanac.com/how-to-setup-magento-2-development-environment/

[2017-03-02 21:32] dimstar commented on #129
Thanks a lot for this, unfortunately the error persisted and I was not able to bring back up the box. I'm actually just removing virtualbox/vagrant completely and starting from the top. hopefully this resolves the issue. Will post if it does.

[2017-03-02 22:32] dimstar commented on #129
Still no luck. Unfortunately I'm still running into some issues. I was also attempting to set a custom branch & memory/cpus for better performance within the config.yaml as described in your steps.

Log file output here. I'm getting farther along however the magento 2 install still seems to be having some issues...
[code]

[2017-03-03 06:21] dimstar commented on #129
I believe the issue was related to bad entries I had in my /etc/exports file.

I found this out adding the paliarush/magento2.ubuntu using the vagrant command line and trying to provision it without the scripts. Error log was such a big help.

[2017-03-03 06:22] #129 closed, assigned to nobody

[2017-03-03 23:08] jwineman opened #130 "Where do Magento errors log?"
Sorry I know this is a dumb question but I can't find the Magento error log for this Vagrant box.  Any pointers on where to look?

[2017-03-04 07:23] TapaniAla commented on #130
Should be under /var/www/magento2ce/var/log/ in guest and in /magento2ce/var/log/ in host. System logs are in /var/log/ in guest.

[2017-03-06 21:22] paliarush commented on #130
The whole `magento2ce/var` directory on the host should be synchronized with `magento2ce/var` directory on the guest.  So on both OSX and WIndows hosts logs can be found under `magento2ce/var/log`.

[2017-03-06 21:22] #130 closed, assigned to nobody

[2017-03-07 04:37] jwineman commented on #130
Thanks - that was my assumption.  Needed a sanity check.

[2017-03-09 22:05] #127 closed, assigned to nobody

[2017-03-19 04:31] sunel opened #131 "Scripts to deploy Magento2 projects"
Scripts to deploy Magento2 projects to Production . This includes packaging the project and deploying it while setting all required variables for database, environment, etc.

[2017-03-22 21:28] paliarush commented on #131
@sunel Not sure I will have time to work on it, unless you create a pull request. If you decide to create a PR, please outline exact flow description first, so we can discuss it.

[2017-03-26 22:41] GerardKetuma opened #132 "fatal error when trying to install sample data"
Setting the config option install_sample_data to 1 gives a fatal error in CE after I run m-switch-to-ce -f. Then I reran install script init_project.sh -fc but still get the same error.

`Fatal error: Uncaught Magento\Framework\Exception\LocalizedException: Invalid Document Element 'type', attribute 'name': [facet 'pattern'] The value '\Magento\Framework\Mail\TransportInterface' is not accepted by

[2017-03-29 16:36] paliarush commented on #132
It is possible that you are using incompatible versions of sample data and Magento (branch names should be the same).

This error is caused by one of the latest accepted PRs to the Magento dev branch https://github.com/magento/magento2/pull/8743 and is not related to current vagrant box.
Please report the issue there.

[2017-03-29 16:36] #132 closed, assigned to nobody

[2017-03-29 18:11] GerardKetuma commented on #132
@paliarush Yes I finally resolved the issue by specifying the release (::2.1) and also same thing for the sample data in the config.yml file. Running it without specifying a release gets a dev branch of Magento CE and there wasn't any corresponding sample data.
Maybe an improvement will be to set a release for both Magento CE and sample data as a default which will help resolve this issue for othe

[2017-04-02 03:00] jthn commented on #88
In case anyone else happens across this thread.  I'm running Ubuntu with an encrypted home directory, and was getting this same error.  Moving the vagrant project out of my home directory allowed me to complete the installation successfully.

[2017-04-07 21:03] paliarush commented on #132
@GerardKetuma Could you please provide the git section of the config which was causing the problem for you?
All branches should contain code related to the same Magento version, e.g. develop/2.1/2.0

[2017-04-07 21:09] paliarush commented on #124
@nicolaspernot did you have a chance to look into this issue?

[2017-04-07 21:10] #125 closed, assigned to nobody

[2017-04-07 21:13] paliarush opened #133 "Automatic cache invalidation"
It should be possible to track changes in Magento project and then clear affected cache types automatically.

This should save a lot of time because cache warm up takes significant time after flushing all cache types.

[2017-04-21 09:59] andertun opened #134 "Question: Stop and start the virtual machine"
I'm new to vagrant and magento, so this is probably a quite simple thing.

When I stop the virtual machine with `vagrant halt`, and later start it again with `vagrant up` I can't access the store.

Is there a script I should run instead, that mounts everything correctly, or how do you start and stop?

[2017-04-28 16:14] paliarush commented on #134
@andertun It should work in the scenario you described. Please try `vagrant reload`, since it helps in most of cases when something does not work.
If the issue persists, please provide more details about your environment: such as host OS, vagrant version, virtual box version etc.

[2017-04-28 16:38] paliarush opened #135 "Update path to Code Sniffer rules for Magneto 2.2"
The path to code sniffer rules in Magento 2.2 was changed from `dev/tests/static/testsuite/Magento/Test/Php/_files/phpcs/ruleset.xml` to `dev/tests/static/framework/Magento/ruleset.xml`. The latter one also exists in 2.0 and 2.1, but is not complete. The easiest solution for now would be to use `dev/tests/static/framework/Magento/ruleset.xml` in all Magento versions.

[2017-04-28 16:39] #85 closed, assigned to nobody

[2017-04-30 23:02] skaragoez commented on #85
I have also the same issue here with 2.1.5. Cron scripts check fails.

**Edit:** I solved the issue with running ```composer install``` at ```<root>/update``` directory.
In my case the command ```/vagrant-magento/magento2ce/update/cron.php```caused an ```/update/vendor/autoload.php): failed to open stream: No such file or directory``` error.

A good way how to debug is to ```crontab -u vagrant -l`

[2017-05-13 04:29] ricardowong commented on #134
Although not a solution, I would prefer **vagrant suspend** as oposed to vagrant halt. That is, if your goal is just to pause and continue later.

[2017-05-18 17:52] eric-bohanon commented on #135
https://github.com/paliarush/magento2-vagrant-for-developers/pull/136 resolves this issue

[2017-05-21 11:08] WillPS1989 opened #137 "Install fails with composer option"
Hi there,
Been trying for days to get this working. I initially installed via git clone, and it all worked just dandy. When I choose Composer however, the installation just hangs. I've tried manually installing via the CLI after aborting the init_project script, and the installation hangs at

[code]

But I can't seem to get any further. I've tried disabling Xdebug completely and it still seems to

[2017-06-01 18:54] paliarush commented on #135
#136 fixes the issue for new installations (or after `init_project.sh -fp` is used).

Existing installations may still be affected by this issue. It be solved by updating to the latest version of this project and running `init_project.sh -fp` in the root.

[2017-06-01 18:54] #135 closed, assigned to nobody

[2017-06-01 19:02] paliarush commented on #137
This looks like an issue with Magento installer script itself. Could you please try to follow http://devdocs.magento.com/guides/v2.0/install-gde/prereq/integrator_install_ce.html to install it manually?

It works fine for me with default settings on OSX host:

[code]

Could you please provide the same part of `etc/config.yaml` from your installation?

[2017-06-01 19:03] #134 closed, assigned to nobody

[2017-06-07 09:09] rahul-avion commented on #46
Package fabpot/php-cs-fixer is abandoned, you should avoid using it. Use friendsofphp/php-cs-fixer instead.plz solution..?

[2017-06-07 10:32] loredev10 opened #138 "Stops at Checking out CE repository"
Ubuntu 16.04 x64
Thank you for detailed How-to installation steps, but maybe they were not too detailed and I didn't get it?

On the step 2. Initialize project the installation just stops.

bash init_project.sh
[2017-06-07 13:22:23] Initializing etc/config.yaml using defaults from etc/config.yaml.dist [init_project.sh]
[2017-06-07 13:22:23] Checking requirements [/home/machine/Magento/vagrant-mage

[2017-06-07 21:27] paliarush commented on #46
@rahul-avion why is this a problem for you? It is just a warning about Magento 2 dependencies.
Is something do not work for you because of this warning?

[2017-06-07 22:32] paliarush commented on #138
Please check if `git clone git@github.com:magento/magento2.git` works for you locally. If not, then make sure that your git is configured as described [here](https://help.github.com/articles/generating-ssh-keys/)

[2017-06-08 18:27] paliarush opened #139 "Upgrade Varnish to V4"
Currently Varnish 3 is installed in the box. However In Magento 2.2 Varnish 3 is not supported.
The only Varnish version common for all Magento versions (2.0, 2.1 and 2.2) is Varnish 4.

Varnish should be upgraded in the box to V4.

The following scripts should upgrade varnish to V4:
- https://gist.github.com/paliarush/ed36bc594ab790c4084d05e80f03abf2
- https://gist.github.com/paliarush/2826fdba1b

[2017-06-09 20:15] loredev10 commented on #138
`git clone git@github.com:magento/magento2.git` works for me, I have a ssh key generated and configured.

[2017-06-13 18:48] paliarush commented on #138
Since it was complaining about "Temporary failure in name resolution", maybe it works now? Please also check your `<vagrant_project>/log` directory.

[2017-06-15 12:01] mrcbk commented on #87
+1

[2017-06-16 04:00] luke-denton-aligent commented on #89
Is this something you plan on doing? I've been trying to set up the PHPStorm database for a while now but I just can't get it to work!

These are the steps I've followed:

Add new database source
Select SSH/SSL Tab, Use SSH tunnel
**Proxy host**: 127.0.0.1
**Port**: [as configured in config.yaml]
**Proxy user**: vagrant
**Proxy password**: vagrant
I then click Test Connection, and get told `the sp

[2017-06-18 20:59] lojasmarques commented on #46
não é possível atualizar do Magento 2.1.6 para o 2.1.7 DEPOIS QUE INSERIR na pasta de instalação do Magento 2.1.6 depois de executar aparece um erro.

[2017-07-02 08:21] nfourteen opened #140 "NFS Permission issues on MacOS Sierra"
Apache and PHP-FPM are running with `vagrant:vagrant` permissions. However, the shared folder on my Mac is not being mounted to the `/vagrant` directory. Instead, my `vagrant-magento` folder is being mounted on the guest machine at `/Users/<user-name>/Sites/vagrant-magento`. I believe this is why I'm running into permissions issues, i.e. SSHed into the box I can't run `rm -rf var/*` and `rm -rf pu

[2017-07-02 08:21] wrock commented on #140
Guten Tag,

Vielen Dank für Ihre Nachricht. Ich bin bis 3.7.2017 auf Urlaub.
In dringenden Fällen erreichen Sie meinen Kollegen Herrn Krieger  unter web@rockit.at.

Mit freundlichen Grüßen,
Wolfgang Rock

[2017-07-02 16:24] nfourteen commented on #140
Some more information:

- Mac v10.12.5
- Vagrant v1.9.5
- Vagrant Plugins
    * vagrant-bindfs (1.0.7)
    * vagrant-host-shell (0.0.4)
    * vagrant-hostmanager (1.8.6)
    * vagrant-share (1.1.8)
    * vagrant-vbguest (0.14.2)

Folder permissions:
- `/Users/<user-name>/Sites/vagrant-magento` owned by `root:root`
- `/Users/<user-name>/Sites/vagrant-magento/magento2ce` owned by `dialout:<XXXXX>`

[2017-07-05 19:03] nfourteen commented on #140
After some digging, I believe this is an issue with `nfsd` in Mac OSX Sierra.

See: [NFS permission problem on MacOS Sierra](https://github.com/mitchellh/vagrant/issues/8061) and [all sorts of permission errors with nfs on osx sierra](https://github.com/puphpet/puphpet/issues/2524).

Running the following command from the host machine in the root of the shared folder, i.e. `/Users/<user-name>/Site

[2017-07-11 13:16] #138 closed, assigned to nobody

[2017-07-18 22:41] #124 closed, assigned to nobody

[2017-07-18 22:41] wrock commented on #124
Guten Tag,

Vielen Dank für Ihre Nachricht. Ich bin bis 31.7.2017 auf Urlaub.
In dringenden Fällen erreichen Sie meinen Kollegen Herrn Krieger  unter web@rockit.at.

Mit freundlichen Grüßen,
Wolfgang Rock

[2017-07-18 22:49] paliarush opened #141 "Survey: How do you use this project?"
Hi guys,

I am Magento core developer and may not know all the issues you may face as a community developer. To improve current project, I am trying to collect more information about the use cases community developers have in their daily work.

I would appreciate If you could **share your typical project structure and how you use this vagrant project**.

Maybe there are some missing features, whic

[2017-07-18 23:03] paliarush commented on #141
@jasonheecs @CellFishy @nfourteen @wpoortman @sunel @MurKit @WillPS1989 @andertun @GerardKetuma @jwineman @dimstar @s2010 @henryhardy @tmos @nicolaspernot @samuelecarpene @PivitParkour94 @crantron @TapaniAla @degaray @kaynenh @rhssk @dazuaz @jasonalvis @apothegm @jatasya @createadrln @nobuttsalex @hvstudio @LCIJJ @crantron @Szaamaan @refaelgold @willboudle @Jrb1x @dlehren @CNSam @riconeitzel @aaro

[2017-07-18 23:09] degaray commented on #141
I ended up using another one since I have nginx installed in my production site.

[2017-07-18 23:32] degaray commented on #141
I ended up using another one since I have nginx installed in my production site.

[2017-07-18 23:37] dazuaz commented on #141
Hello, I ended setting up valet, which was a lot faster for me in Mac

[2017-07-18 23:39] Jrb1x commented on #141
I'm also using Valet. It's insanely fast. No VM's. Just a Docker container for Redis and RabbitMQ.

[2017-07-19 04:03] jwineman commented on #141
I maintain Cloudflare's magento plugin.  We use vagrant internally for our development environment so I wanted a vagrant setup for magento as well to ease new developer's ability to get up to speed.

Pros:

- Easy to get up and running
- Easy to reset to known state

Cons:

- I don't like the bash scripts that wrap `bin/magento` and `composer`.  They occasionally swallow errors and when something

[2017-07-19 09:32] andertun commented on #141
I ended up going in another direction (Shopify). Magento 2 and the different environment setups I tried was too time consuming to get to work properly for the webshop I am building.

[2017-07-19 09:45] rhssk commented on #141
Wrote bash script to create / clean-up projects directly (create nginx configs from templates, MySQL users / databases etc.) and have been using that instead of Vagrant since the projects were significantly slower to work on than when running them without any virtualization.

[2017-07-19 09:49] nobuttsalex commented on #141
Staying away from any virtual environments from now on. The file syncing between the host machine and virtual box/docker is always painfully slow.

[2017-07-19 14:59] WillPS1989 commented on #141
I couldn't get it to work as I needed to - cloning the git repository worked but for whatever reason the Composer method wouldn't. I tried Magestead but had problems with that too. In the end I just used Scotchbox.

An all-in-one solution like this is still desired by me.

[2017-07-19 15:11] samuelecarpene commented on #141
I'm very intrested in this solution. Under Windows 10 is very difficult to use vagrant.

[2017-07-19 22:15] nfourteen commented on #141
I'm with @jwineman. His pros and cons mirror my own. I also really like how easy it is to install and uninstall sample data.

I have been looking into Valet as a means to speed things up. NFS is really slow and I quit using `grunt watch` because it was taking 15-20 seconds for it to pick up the file changes. I've upped the box to use 4GB, but I'm still getting pretty bad page load times (kind of u

[2017-07-20 07:04] jasonheecs commented on #141
Hi. I've pretty much moved to use Docker for my Magento 2 projects as I've found it to be much faster.

I still think this is a great project though, and it's nice to have choices :)

[2017-07-24 14:11] paliarush commented on #141
Thanks everyone for the feedback!

[2017-07-24 14:11] #141 closed, assigned to nobody

[2017-07-24 14:16] paliarush commented on #137
Hi @WillPS1989 , if you still need to get this work, I would be glad to help. Please try my suggestions from the previous comment.

[2017-07-31 14:15] ctasca opened #142 "Installation fails because of vendor autoload"
8 Autoload error: Vendor autoload is not found. Please run 'composer install' under application root directory.
  9 [2017-07-31 14:11:33] ERROR: >  Magento installation failed. ^[[/vagrant/scripts/guest/m-reinstall]]

[2017-07-31 14:43] ctasca commented on #142
It was because I created an auth.json. Solved without it

[2017-07-31 14:43] #142 closed, assigned to nobody

[2017-08-16 11:31] WillPS1989 commented on #137
Thanks Alex,
I'm giving it another go now, I'll write back with my results.

[2017-08-16 14:48] WillPS1989 commented on #137
Same story.

Install via init_project.sh stalls during the Magento installation
Opening the wizard via a browser stalls midway through setup
Manually installing via SSH also stalls.

Always stops at the 'Installing user configuration...' step

Here's that section of config.yaml
[code]

[2017-08-22 22:42] gabarba opened #143 "Installing missing vagrant plugins [init_project.sh] - stdout is not a tty"
Hi,
I am trying to run the init_project.sh script that comes along with the repo I am using Git-Bash like it has been suggested but I keep coming up with the following error shortly after it starts.

[code]

I've been trying to troubleshoot the error with varing degrees of success but nothing being able to fully complete the install process.

I have been fiddling around with reinstalling git for w

[2017-08-24 22:44] paliarush opened #144 "Cannot install 2.2.0 EE via composer"

[2017-08-24 22:51] #144 closed, assigned to nobody

[2017-08-24 23:00] paliarush commented on #143
@gabarba please try to use different version of Git-Bash or Cygwin. I've never seen this problem before. I cannot test it right now because I don't have access to Windows machine.

[2017-08-25 16:35] paliarush commented on #137
@WillPS1989 please report this issue to https://github.com/magento/magento2/issues , it seems like a problem with Magento installer itself in your particular environment.

[2017-08-31 15:09] GuerrillaCoder opened #145 "The 'host_compress_magento_code' provisioner could not be found."
When I run `vagrant up` on windows 10 I get this output:

[code]

I googled the error but couldn't find anything on it.  Any idea what it relates to?

[2017-08-31 15:21] GuerrillaCoder commented on #145
I looked inside the init script and manually installed the plugins there and error went away

[2017-08-31 15:21] #145 closed, assigned to nobody

[2017-09-06 21:10] nwlshop9 opened #146 "vagrant script not able to install magento"
window10, can verify all listed require software are installed
init_project can successfully completed

however during the script on I get
----------
 Directory '/var/www/magento2ce' was not mounted as expected and Magento code base is not accessibl
e on the guest machine.
        If your host is OSX or *nix, please make sure that Vagrant is able to mount NFS shares on your environment (see htt
ps

[2017-09-13 21:07] nwlshop9 commented on #146
here is m-reinstall log

[2017-09-14 17:12] thieryl opened #147 "Git err in install"
Hello,
i get the following error message when trying to install the vagrant box
OS : Fedora 26
[code]

[2017-09-15 18:57] lfolco opened #148 "Sample data from magento or custom?"
When I follow the instructions to install sample data, it is only generating the lightweight sample data (#102). Is it possible to use the Magento sample data?

In config.yaml, I have the following custom settings:

[code]

I also have this for sample data (default value):

[code]

[2017-09-26 16:20] paliarush commented on #146
Do you have PhpStorm running? On Windows environment it is used for uploading code base from your host to the guest. I saw installation on Windows working for someone just yesterday.

There should be no need to run anything with admin privileges. Try to log in to the guest and `chmod 777 -R \var\www\magento2ce`

[2017-09-26 16:23] paliarush commented on #147
Hi, please make sure you have SSH keys generated and associated with your github account (see [requirements section](https://github.com/paliarush/magento2-vagrant-for-developers#requirements)).

Also, install any version of PHP on your host (is required for composer only)

[2017-09-26 16:28] paliarush commented on #148
Git version of sample data is used only when you install Magento from Git.

When Magento is installed via Composer, please follow http://devdocs.magento.com/guides/v2.1/install-gde/install/sample-data-after-composer.html to install sample data

[2017-09-26 21:13] eric-bohanon opened #149 "Create option to not generate sample data and add extra data"
A user should be able to set an option in config.yaml to not generate sample data.

Further data that would be useful for general testing of a Magento instance should be added including:

- Configurable Sample Data
- Customer Address Data

[2017-09-29 02:36] paliarush opened #151 "Clean up legacy code"
Some scripts were added for backward compatibility and smooth upgrades more than a year ago.
Now they just increase complexity and do give any value.

[2017-09-29 04:44] paliarush opened #152 "Optimize cache cleaning"
Cache cleaning takes 5-10 seconds. Excessive `m-clear-cache` calls should be eliminated.

[2017-09-29 05:00] paliarush opened #153 "Change PhpCS rules from custom to PSR2"

[2017-09-30 15:07] ghost commented on #151
I am running windows 8.1 and tried to run your script, but failed.  Should I upgrade to Windows 10?
I desperately need your script running because I need Varnish running on Windows environment.  And your scripts is the only hope I have now. Should I run 'Vagrant up' before executing 'init_project.sh'?  I got two VM running if I did 'Vagrant up' before 'init_project.sh'.   if I run 'Vagrant up' fro

[2017-10-01 01:31] tshuy opened #154 "Could I use the magento2ce to be my local machine?"
How do I migrate my production server to your magento2ce folder?  Then I can use it as my local machine.
If this is the case then I will use this local machine to develop additional enhancements.  make sure it works, then move it to the production server.

[2017-10-05 09:52] bryfa commented on #59
I have the same issue here on a Windows 10 machine.
Is there a workaround/fix for this?

[2017-10-06 23:40] leoquijano opened #155 "Don't remove app/etc/config.php when installing Magento"
Hello,

I'm using Paliarush Vagrant box with a custom Git repo instead of the base Magento Git. This means that the repo will have a set of modules, with the purpose of having Vagrant launch a website will several extensions already installed.

I noticed that in ```scripts/guest-m-reinstall```, the ```app/etc/config.php``` is being removed, prior to Magento installation. This means that Magento wi

[2017-10-08 08:27] woutersamaey opened #156 "Question: Can this project work with Parallels and their "Shared Folders" instead of NFS?"
Can this project work with Parallels and their "Shared Folders" instead of NFS?

[2017-10-09 19:20] woutersamaey opened #157 "Magento installation failed: Autoload error: Module 'Magento_UrlRewrite' from '.../vagrant-magento/magento2ce/app/code/Magento/UrlRewrite' has been already defined in '.../vagrant-magento/magento2ce/app/code/Magento/UrlRewrite'."
[2017-10-09 19:18:26] STATUS: Installing/re-installing Magento [/vagrant/scripts/guest/m-reinstall]]
[2017-10-09 19:18:26] STATUS: >  Removing Magento configuration files (env.php and config.php) [/vagrant/scripts/guest/m-reinstall]]
[2017-10-09 19:18:26] STATUS: >  Clearing Magento cache [/vagrant/scripts/guest/m-clear-cache]]
[2017-10-09 19:18:26] STATUS:     >  Clearing directories containin

[2017-10-09 20:47] woutersamaey commented on #87
+1

[2017-10-10 19:41] richb-ztech opened #158 "What are the login credentials for the VM?"
I installed on Windows 10, and would like to check out some things on the VM, but I don't see any information about the VM credentials for logging in.

[2017-10-11 01:32] richb-ztech commented on #158
Found it: vagrant/vagrant

[2017-10-11 01:32] #158 closed, assigned to nobody

[2017-10-12 07:22] BrocksiNet commented on #157
Have the same problem and maybe it is related to new magento2 developer version?
Tried to clear autoloader cache. OS Sierra High.

[2017-10-12 07:24] woutersamaey commented on #157
What surprises me is that this Vagrant box has all Magento core modules under app/code/Magento and not in /vendor. Maybe this has something to do with it? Normally it shouldn't matter, but I'm just pointing out this observation.

[2017-10-12 16:24] BrocksiNet commented on #157
But that should not be a problem for the autoloader.
I also tried with magento version 2.2.0 and there is the same problem.

[2017-10-19 10:11] gilles6 opened #159 "Installation failure"
How to fix this issue ?

MacBook-Pro-de-Max:vagrant-magento max$ bash init_project.sh
[2017-10-19 18:07:33] Checking requirements [/Users/max/magento/vagrant-magento/scripts/host/check_requirements.sh]
[2017-10-19 18:07:33] Installing missing vagrant plugins [init_project.sh]
[2017-10-19 18:07:34] Generating random IP address, and host name to prevent collisions (if no custom values specified) [in

[2017-10-23 10:47] fleveque commented on #143
I tried it today and I faced the same error (w10, php7), and managed to skip the issue changing the line:

`vagrant_plugin_list="$(vagrant plugin list)"`

to:

`vagrant_plugin_list=(echo "vagrant plugin list")`

But I have similar issues on filterVagrantOutput() function of output_functions.sh file.

[2017-10-29 01:50] #139 closed, assigned to paliarush

[2017-10-29 01:50] #153 closed, assigned to paliarush

[2017-10-29 01:50] #152 closed, assigned to paliarush

[2017-10-29 01:56] paliarush commented on #151
Hi @ghost, I tested this project on Windows 10 some time ago and it worked.
Please do not run 'vagrant up' before 'init_project.sh'. Make sure to use git bash 2.7+ instead of native windows CLI because all scripts are written in bash.

I will try to find Windows machine and test it again and will let you know the result.

Sorry for the delayed response. Thanks

[2017-10-29 01:56] #151 closed, assigned to paliarush

[2017-10-29 02:02] paliarush commented on #159
Looks like some NFS issue on your host. I have not tested this on Sierra yet. Make sure that NFS server is running on your host, also take a look at https://github.com/paliarush/magento2-vagrant-for-developers/issues/140

[2017-10-29 02:02] #159 closed, assigned to nobody

[2017-10-29 02:10] paliarush commented on #157
@woutersamaey if you are on Sierra, please check out https://github.com/paliarush/magento2-vagrant-for-developers/issues/140 , if not - please provide more details about your environment.
Everything works for me on El Capitan with Virtual Box 5.1

BTW, core modules are in app/code when you install git-based version of Magento. They will be under vendor if you install composer-based version. Pay at

[2017-10-29 02:17] paliarush commented on #156
I don't think it is possible using Vagrant (at there is no such option in the official documentation: https://www.vagrantup.com/docs/synced-folders/ ). Please share the info if you find anything. Thanks

[2017-10-29 02:28] paliarush commented on #155
Thank you @leoquijano for raising this question. Starting from Magento 2.2, config.php is not under .gitignore anymore. I believe in general it should still be removed during re-installation.

But it definitely makes sense to make this behavior configurable for scenarios like yours. Would you be able to contribute such change in the form of pull request? Option can be added to the [magento section

[2017-10-29 02:32] paliarush commented on #154
Hi @tshuy, ideally you should use some staging server with the same configuration as your production.

Just download your codebase and put it to 'magento2ce' directory before running ./init_project.sh.

Then ./init_project.sh will create Magento instance using the code provided in 'magento2ce'.

[2017-10-29 02:32] #154 closed, assigned to nobody

[2017-10-29 02:34] #147 closed, assigned to nobody

[2017-10-29 02:36] #156 closed, assigned to nobody

[2017-10-29 02:37] #148 closed, assigned to nobody

[2017-10-29 03:35] paliarush commented on #89
Hi @luke-denton-aligent , `Schemas....` was introduced in one of the latest versions of PhpStorm and was confusing to me at first too, just click on it and you will get the full list of available DBs. BTW, this topic is briefly covered by https://github.com/paliarush/magento2-vagrant-for-developers#connecting-to-mysql-db

Sorry for missing your message, posting answer just in case someone has simi

[2017-10-29 04:08] #137 closed, assigned to nobody

[2017-10-29 04:12] paliarush commented on #143
I have just tried installing the project with default config.yaml (it is automatically created out of config.yaml.dist) on Windows 10 and everything worked for me. I have VirtualBox 5.1.3 there, git 2.9.3.windows1, Vagrant 1.8.5

Please try installing same versions of required software, or provide me your versions so I can try to reproduce the issue. Thanks

[2017-10-29 04:14] paliarush commented on #146
I have just tried installing the project with default config.yaml (it is automatically created out of config.yaml.dist) on Windows 10 and everything worked for me. I have VirtualBox 5.1.3 there, git 2.9.3.windows1, Vagrant 1.8.5.

Please try installing same versions of required software, or provide me your versions so I can try to reproduce the issue. Thanks

[2017-10-29 18:15] leoquijano commented on #155
Sure :)

I have to upgrade a website I work on to 2.2, and then I can test a new change and submit the PR.

[2017-10-31 01:53] #149 closed, assigned to eric-bohanon

[2017-11-14 21:22] nfourteen opened #161 "Node Version and Provisioning"
I just created a new project with this box and installed Magento 2.2. I'm trying to set up Grunt and I get errors like the following:

[code]

I can't find where `Node` is provisioned on this box and the version from a fresh install is `v0.10.25`. The current stable version of `Node` is `8.9.1`. Is `Node` provisioned or was it installed on the base box and that's why it's out of date?

[2017-11-15 01:32] nfourteen commented on #161
I originally thought I could't set up Grunt because of the `Node` version warnings breaking the install. It seems it's related to `phantomjs-prebuilt@2.1.16`. See [New project trying to install phantom-prebuilt @2.1.11 and getting errors #599](https://github.com/Medium/phantomjs/issues/599).

Here's my error output:

[code]

Still trying to figure out a work around, but I don't believe this is a `

[2017-11-15 13:43] nfourteen commented on #161
I was able to get Grunt up and running by installing `nvm` and `Node` version `8.9.1` per [@hwinn4's comment](https://github.com/Medium/phantomjs/issues/739#issuecomment-341776540).

These were the commands I used after installing `nvm` on the box per [nvm instructions](https://github.com/creationix/nvm#installation).

[code]

Still not sure if the box has an old `Node` version on it or if `phanto

[2017-11-21 00:23] jordangottlieb-ych opened #162 "Switching to EE not working"
We are trying to set up local M2 EE dev environments on Windows 10 workstations to support our new manged M2 ECE instance.  All commands below were run using Git Bash as Admin.

## Install Steps

1. Installed Git Bash (2.15.0 64-bit), Composer (1.5.2), VirtualBox (5.1.30) and Vagrant (1.8.5)
1. Installed vagrant `hostmanager`, `vbguest` and `host-shell` plugins
1. Configured Git `core.autocrlf fal

[2017-11-21 16:42] csm789 commented on #94
Hi Paliarush,
Can you help me how to setup VM for my Magento project Please?

[2017-11-22 18:46] ts-hww opened #163 "check_mounted_directories.sh looking for file that doesn't exist"
I am getting this error message when running init_project.sh:

"Directory '${vagrant_dir}/etc' was not mounted as expected by Vagrant. Please make sure that 'paliarush/magento2.ubuntu' Vagrant box was downloaded successfully (if not, this may help http://stackoverflow.com/questions/35519389/vagrant-cannot-find-box) And that Vagrant is able to mount VirtualBox shared folders on your environment (se

[2017-11-28 21:04] ts-hww commented on #163
I solved it. Git config autocrlf was true, so checking out code was adding a carriage returns to scripts which messed things up.

[2017-11-28 21:04] #163 closed, assigned to nobody

[2017-11-29 19:03] jordangottlieb-ych commented on #163
So you got this box to work on windows 10? Did you try to switch to EE? Are you using PhpStorm? Sigh.

[2017-11-29 19:27] ts-hww commented on #163
Yeah, got it working on one Windows 10 PC, but not another. I installed PhpStorm and use that to deploy, as mentioned in the project docs. I did not try to switch to EE, although I did notice that the default config.yaml doesn't have the repo URL for EE.

Some things that may or may not have helped:

add Vagrant to PATH
add virtualbox to PATH
use these versions:  VirtualBox 5.1.3  Vagrant 1.8.5
re

[2017-11-29 19:35] jordangottlieb-ych commented on #163
Thank you for the great info, every little bit helps!  While I have you on the line, do you see anything glaring here: [https://github.com/paliarush/magento2-vagrant-for-developers/issues/162](https://github.com/paliarush/magento2-vagrant-for-developers/issues/162) ? I can get this vagrant box up and running, but things go south quick when you try adding things on PhpStorm or switching to EE.

[2017-11-29 19:52] ts-hww commented on #162
Hi Jordan,

I looked this over, per your request. Only two things stand out to me, and they may be insignificant:

I get the same error about env.php during init.project.sh. I spent some time trying to figure out what the source of the problem is, but I decided that I could disregard it because the script completed and after that error line the status printed was "magento installed successfully" o

[2017-11-29 19:58] jordangottlieb-ych commented on #162
I deliberately did not open PhpStorm or the `vagrant-magento` directory with PhpStorm **ever** before the script was completed, due to the warning you pointed out.

[2017-12-09 05:55] tuantai0304 opened #164 "Directory '/d/SourceCode/magestore/vagrant-magento/etc' was not mounted as expected by Vagrant."
Hi,

I follow your instruction to install the scripts to the localhost but got this error.

I think the problem is with this my.cnf file, and I don't know what it is.

![image](https://user-images.githubusercontent.com/13182417/33792940-b227163e-dd01-11e7-8b79-1ccf15bf23cf.png)

Please help.

Thank you

[2017-12-11 09:21] shrinet commented on #159
Hello @paliarush I am getting same error on windows 10, earlier it was working fine but yesterday I run again `init_project.sh` since then I am getting the error.
`[2017-12-11 14:47:44] Directory '/e/magento2/vagrant-magento/etc' was not mounted as expected by Vagrant.
        Please make sure that 'paliarush/magento2.ubuntu' Vagrant box was downloaded successfully (if not, this may help http://st

[2017-12-13 02:55] paliarush commented on #162
@jordangottlieb-ych thank you for such a detailed description of your issue.

RabbitMQ error that you are experiencing is caused by the fact that Magento codebase is still CE, which does not support RabbitMQ (RabbitMQ related CLI options are supported by EE only).

When you try to switch to EE on Windows the algorithm is following:

1. [build-ee.php tool](https://github.com/paliarush/magento2-vagr

[2017-12-13 03:02] paliarush commented on #161
@nfourteen the box has all tools pre-installed so your point is correct that they may be outdated.

I'm not a front-end developer and do not use those tools so would really appreciate if you could provide a PR with the fix.
Upgrade can be done in a way similar to [varnish upgrade](https://github.com/paliarush/magento2-vagrant-for-developers/blob/2.0/scripts/provision/upgrade_environment_recurring.

[2017-12-13 03:09] paliarush commented on #164
@tuantai0304 the problem is not in this specific file, it is jut one of the files that must be available on your host when shared folders are mounted correctly.

For some reason Vagrant cannot mount shared folders for you. See #88, it is the same issue

[2017-12-13 03:11] paliarush commented on #94
@SathyaChilumula Please create separate thread and explain your issue.

[2017-12-13 03:12] paliarush commented on #159
@shrinet please see #88 and check if simple vagrant configuration suggested there works for you.

[2017-12-13 03:15] paliarush commented on #59
Try logging in to the machine and do `chmod a+x` for the file which is mentioned in the error message.

[2017-12-13 19:32] jordangottlieb-ych commented on #162
Tried configuring both the CE and EE repos in the yaml file to point to the same EE repo, installed an ran `bin ./m-switch-to-ee -f` which resulted in:
![image](https://user-images.githubusercontent.com/33668261/33958478-5c1cd116-dff9-11e7-84f5-674e4a153f94.png)

[2017-12-18 20:56] shrinet commented on #159
Again I found same issue om mac 10.12.6 vagrant 2.0.1.
`[2017-12-19 02:23:29] Directory '/Users/shrinet/Documents/dev/magento/magento2-vagrant/etc' was not mounted as expected by Vagrant.
        Please make sure that 'paliarush/magento2.ubuntu' Vagrant box was downloaded successfully (if not, this may help http://stackoverflow.com/questions/35519389/vagrant-cannot-find-box)
        And that Vagra

[2017-12-23 03:48] asimsoroya opened #165 "Permission denied (publickey)."
Hi I am trying to clone from this repo and getting permission error, is it publicly available if yes why im getting the error thanks

[2017-12-25 22:44] nfourteen commented on #161
@paliarush Sorry it's taken a while to respond. I've been working on this and will create a PR, just running some more tests to make sure there are no permission issues and there's compatibility with older versions of Magento's package.json config file.

[2017-12-29 15:05] nfourteen commented on #165
Where are you getting a "permission denied (publickey)" error? If you were trying to clone this repo and got that error, then see [Connecting to Github with SSH](https://help.github.com/articles/connecting-to-github-with-ssh/) and make sure you've added your SSH key to the ssh-agent via `ssh-add`. You can check if it has been added to the agent with `ssh-add -l`.

If you were able to clone this re

[2017-12-30 21:22] graemelambert commented on #159
@shrinet if you try to run `vagrant box add paliarush/magento2.ubuntu` you will see the vagrant box will only work on vagrant 1.8.x.

[2018-01-03 12:59] al1357 commented on #159
I have the same issue on Ubuntu 16.04.3, Vagrant 1.8.7 and VirtualBox 5.0.40. Same error occurs on Vagrant 2.0.1 and VirtualBox 5.2.4.

I was able to successfully run Laravel Homestead on the same computer(vgr 2.0.1 & vb 5.2.4).

[2018-01-04 16:07] luukskeur commented on #159
This issue still persists on Windows 10 in combination with Vagrant 1.8.x, Vagrant 2.x and VirtualBox 5.2.

What worked for me was downgrading Vagrant to 1.8.4 (not sure if 1.8.7 is possible too) and VirtualBox to 5.0.40.
I found the error using the debug option which can be found in this repo's README (the error above is very general). Running only `vagrant up` in the project folder gave the same

[2018-01-11 12:21] burhandodhy commented on #159
I have the same issue. Any solution?

[2018-01-17 13:17] centerax opened #167 "Cannot run unit tests from PHPStorm on Magento 2.2."
Problem:
Cannot run tests from PHPStorm.

Magento version: 2.2.2
PHP Unit version: 6.2.4

Error I get.
sftp://vagrant@127.0.0.1:3173/usr/bin/php /home/vagrant/.phpstorm_helpers/phpunit.php --configuration /Users/pablo/Vagrant/magento2/vagrant-magento-22/magento2ce/dev/tests/unit/phpunit.xml /Users/pablo/Vagrant/magento2/vagrant-magento-22/magento2ce/app/code
Testing started at 10:14 AM ...

**Fata

[2018-01-25 20:34] paliarush opened #168 "Redis scripts compatibility with Magento 2.3"
`etc/env.php` format changed and scripts for Redis activation should be adjusted.

[2018-01-26 00:00] paliarush commented on #161
@nfourteen Merged PR, thank you.

[2018-01-26 00:00] #161 closed, assigned to nobody

[2018-01-27 00:08] paliarush opened #169 "Add PHP 7.1 and 7.2 support for Magento 2.3"

[2018-02-09 18:13] pouyanafisi commented on #159
For anyone else still having an issue with the install just change the minimum vagrant compatibility check at the top of your `/Vagrantfile` from

`Vagrant.require_version "~> 1.8" ` to `Vagrant.require_version ">= 1.8"`

[2018-02-09 22:34] EugeneSuhoviy commented on #159
@pxlhero thanks a lot! Worked for me

[2018-02-10 11:51] sumanta-ghosh opened #170 "SSL certificate problem"
**OS: Windows 7
git version 2.5.3.windows.1**

![image](https://user-images.githubusercontent.com/2699051/36061843-8d18075c-0e86-11e8-8e0a-94158cf82886.png)

[2018-02-19 00:45] xelber opened #171 "Keep getting "curl: (56) Proxy CONNECT aborted [Unknown source file]""
Keep getting "curl: (56) Proxy CONNECT aborted [Unknown source file]" with no further error reporting

[2018-02-28 21:58] MaxMage opened #173 "Launch Vagrant on the Windows 10"
Sorry that not post the issue, maybe to someone will be helpful.  I tried to launch this Vagrant on the Windows 10 during 3 - 5 days, Faced with such issues:

1.  the first was with Vagrant, the current versions of Vagrant 2.0.2 don't work properly on Windows 10. the issue https://github.com/hashicorp/vagrant/issues/9516, doesn't relate to the current Vagrant container, but it was. And maybe it wa

[2018-03-12 10:34] mfonsatti opened #175 "Magento installation failed.PHP Fatal error: Cannot use Magento\Payment\Gateway\ConfigInterface as ConfigInterface because the name is already in use in /Users/matteofonsatti/Desktop/magento2/vagrant-magento/magento2ce/app/code/Magento/Payment/Model/Method/Logger.php on line 8"

[2018-03-12 12:38] e-solutions commented on #175
I am also getting this exact same error.

[2018-03-13 01:18] mrtuvn opened #176 "How to choose version magento to fetch before initproject"
is there a way to do that before run initproject ? Default get latest dev branch but i got some issues and it not stable for dev from scratch. Can possible option to run from source locally
If i have core zip file of magento . I unzip it to magento2ce folder and only need run vagrant up

[2018-03-13 02:07] mrtuvn commented on #176
found in config.yml

[2018-03-13 02:07] #176 closed, assigned to nobody

[2018-03-13 08:03] mrtuvn commented on #175
You should checkout codebase from stable branch such as 2.2 instead development because some issue not fixed yet

[2018-03-13 08:12] mfonsatti commented on #175
@mrtuvn thanks a lot , but i've made checkout from default branch that is the 2.0 version . There's no 2.2 branch .

[2018-03-13 08:18] mfonsatti commented on #175
@mrtuvn do you mean to use a version 2.2 of Magento ?
the version of magento is in file https://github.com/paliarush/magento2-vagrant-for-developers/blob/2.0/etc/config.yaml.dist , is it right ? (just for clear for anyone ;-)

[2018-03-13 09:04] mfonsatti commented on #175
it works !!! i've added in line 17 of etc/config.yaml the version 2.2 of magento so ...
  ce: "git@github.com:magento/magento2.git::2.2"
thanks a lot @mrtuvn !

[2018-03-13 09:54] e-solutions commented on #175
It worked for me too. THANKS.  :-)

[2018-03-19 17:52] vy-shmal commented on #173
Thank you @MaxMage  for your solution, I had the same error  and spent 2 hours finding a solution for it.
Your answer solved my solution, I had to destroy the box and re run the bash script.

[2018-03-21 11:00] erdemece opened #177 "Supposed to be easy"
I thought vagrant supposed to be easy to deploy development environment.

[2018-03-22 09:00] nfourteen commented on #167
@centerax I just ran into this problem myself. For whatever reason, PhpStorm is running the old class versions of phpunit in `/home/vagrant/.phpstorm_helpers/phpunit.php`. I kept messing with the configuration and suddenly it ended up working. If you want, you could try these steps and see if it works for you...might be a workaround for now:

1. SSH into the box and go to `/home/vagrant/.phpstorm_

[2018-03-23 13:58] centerax commented on #167
thanks @nfourteen I will try that :)

[2018-03-26 09:19] magento2dev opened #178 "Mail not sending"
I'm not able to get emails even when I'm trying to use the default php mail function, I do not receive any email.

Thanks !

[2018-03-27 14:38] perrivdb opened #179 "PHP version check unsuccesful"
When trying to install Magento, the versioncheck is failing:

Your PHP version is 7.0.7-4+deb.sury.org~trusty+1. The required PHP version is ~7.0.13|~7.1.0.

How can I fix this?

[2018-03-27 16:21] #179 closed, assigned to nobody

[2018-03-27 16:21] perrivdb commented on #179
Fixed after cloning Magento 2.2 from git

[2018-03-30 12:12] perrivdb opened #180 "Grunt does not work out of SSH environment"
Class 'Locale' is missing

[2018-04-03 09:34] vics80 commented on #87
+1

[2018-04-03 13:05] sinnis-dev-trey commented on #169
+1 - this would be really useful to support: though with a Google I found this: https://github.com/magento-engcom/php-7.2-support/wiki (not tested yet)

[2018-04-05 00:11] 9ntonio commented on #159
@pxlhero thanks also. It worked for me as well.

[2018-04-06 14:33] #169 closed, assigned to nobody

[2018-04-09 22:17] julesbravo opened #183 "Sample Data Issue"
If I run init_project.sh with sample data turned on I get the error below. It works fine with sample data turned off.

[code]

[2018-04-10 15:24] julesbravo commented on #183
It appears that currently the default branch for the sample data is `2.3-develop` and the default branch for magento is `2.2-develop`. This difference is causing issues so you need to manually set the branch for each in `config.yaml`. I used 2.2 myself, but could likely use any other matching branches.

[code]

[code]

[2018-04-11 18:19] paliarush opened #184 "Use composer on guest when NFS is enabled"
It will be better to run composer on guest machine without 'ignore-platform-reqs' when NFS is enabled. This will prevent issues of Magento being incompatible with the specific version of PHP. It is becoming more important with 2.3 release because it supports different PHP versions compared to previous Magento releases.

[2018-04-11 20:23] madelyneriksen opened #185 "init_project Hangs on Magento Installation"
Hi! My host system is running Ubuntu 16.04, Virtualbox 5.2.8, Vagrant 2.0.2, and PHP 7.0.28 (with curl for composer). I do not have PHPStorm installed on my host.

I cloned the project and ran init_project.sh, installing from git. Everything seemed to run perfectly until the final Magento installation, that is the "bin/magento setup:install" script. When init_project reaches that point, it hangs.

[2018-04-16 18:15] madelyneriksen commented on #185
I fixed this. I went through the apache error logs and found that PHP was hitting the max execution time. I changed the php.ini file and it installs, if slowly.

[2018-04-16 18:15] #185 closed, assigned to nobody

[2018-04-27 12:16] jeroencusters commented on #173
Thanks @MaxMage ! Same issue here.
@vy-shmal You don't have to destroy the box. Stop the box and execute 'vagrant up' updates the box config (shared magento root folder)

[2018-05-08 07:02] kamleshkamble commented on #164
@paliarush Can you please help. I am trying to install Magento 2 using your vbox. I am having window 10 OS.
Below is the error that I am getting:

AzureAD+KamleshKamble@DESKTOP-T2J9M58 MINGW64 /c/devTools/vagrant-magento (2.0)
$ bash init_project.sh
[2018-05-08 12:29:15] Checking requirements [/c/devTools/vagrant-magento/scripts/host/check_requirements.sh]
[2018-05-08 12:29:18] Installing missing

[2018-05-11 14:18] #183 closed, assigned to nobody

[2018-05-11 14:19] paliarush commented on #178
Hi @anthony-jullien, it is not supposed to be sent to your email. All emails are logged to `vagrant_project_root/log/email/*` directory.

[2018-05-11 14:19] #178 closed, assigned to nobody

[2018-05-11 14:20] #177 closed, assigned to nobody

[2018-05-11 14:22] paliarush commented on #180
@perrivdb I do not personally use front end developer tools. If you know how to fix/upgrade it, feel free to add your upgrade script to https://github.com/paliarush/magento2-vagrant-for-developers/blob/2.0/scripts/provision/upgrade_environment_recurring.sh

[2018-05-11 14:23] #175 closed, assigned to nobody

[2018-05-11 14:27] paliarush commented on #173
@MaxMage thanks for sharing this info. Added it to the FAQ section of the readme.

[2018-05-11 14:27] #173 closed, assigned to nobody

[2018-05-11 14:29] paliarush commented on #171
@xelber was you able to deploy the project eventually? If you are still interested in fixing the issue, please reopen the issue and provide more information on how to reproduce it.

[2018-05-11 14:29] #171 closed, assigned to nobody

[2018-05-11 14:35] paliarush commented on #167
@nfourteen thanks for the suggested solution, added current issue to the FAQ list in the readme.

[2018-05-11 14:35] #167 closed, assigned to nobody

[2018-05-11 14:37] paliarush commented on #170
@sumanta-ghosh was you able to resolve the issue eventually? Did you verify that Vagrant is compatible with VirtualBox on your instance by following suggestions at the end of error message?

[2018-05-11 14:42] paliarush commented on #165
@nfourteen Thanks for answering the question, added it to the FAQ section for others.

[2018-05-11 14:42] #165 closed, assigned to nobody

[2018-05-11 14:48] paliarush commented on #164
@kamleshkamble unfortunately I don't have access to windows machine. Maybe @MaxMage or @nfourteen can assist

[2018-05-11 14:50] #157 closed, assigned to nobody

[2018-05-11 14:50] #143 closed, assigned to nobody

[2018-05-12 10:51] nfourteen commented on #164
@kamleshkamble I don't have access to a Windows machine either, but this does happen sometimes and I haven't completely figured out why. If my memory serves me correctly, it's usually happens if the box is already running and then `bash init_project.sh` is executed. I'd try shutting down the box and then running the init script again. If that doesn't work, try destroying the machine and cleaning u

[2018-05-15 12:04] VadimIzmalkov commented on #164
have same error when run ./init_project.sh

[code]

Windows 10
Vagrant 2.0.3
Virtual box: Version 5.2.6 r120293 (Qt5.6.2)

[2018-05-21 23:28] danteay opened #187 "Installation fails - Fatal error: Cannot use Magento\Payment\Gateway\ConfigInterface as ConfigInterface because the name is already in use"
When I start to install the Magento 2.2.4 (sample data version) the installation fails and I found an exception in the start request of the ajax whith the next fatal error:
**Fatal error: Cannot use Magento\Payment\Gateway\ConfigInterface as ConfigInterface because the name is already in use in /Applications/MAMP/htdocs/magento224/vendor/magento/module-payment/Model/Method/Logger.php on line 8**

[2018-05-22 11:04] mtkumar82 commented on #175
Facing exact same issue in magento2.4,
Fatal error: Cannot use Magento\Payment\Gateway\ConfigInterface as ConfigInterface because the name is already in use in D:\magento2_4\app\code\Magento\Payment\Model\Method\Logger.php on line 8

Any solution for this?

[2018-05-31 13:24] localhosted opened #188 "Running init_project.sh fails to sync vagrant folders"
I'm using virtualbox 5.2.2 and vagrant 2.0.1and the setup fails with:

[code]

[2018-05-31 16:39] mrtuvn commented on #188
run bash with admin permission if you using window. Linux make sure you have mount folder contain script have full permissions

[2018-05-31 16:44] mrtuvn opened #189 "How to checkout codebase from other branch without messy with my code ?"
Assume i have git source in root magento directory. Inside app/code i have some repository. How i can checkout new version magento example (downgrade version) without re-install magento and messy or lost my code

[2018-06-02 22:33] localhosted commented on #188
Had to add this line to get_host_os.sh:

[code]

[2018-06-05 09:23] EliasKotlyar commented on #187
Check out the following issue:
https://github.com/magento/magento2/issues/12180
Seems to be a bug related to PHP7.0

[2018-06-07 01:54] sabatmonk opened #191 "init_project.sh failed with dependencies issues"
Hi, i've tried running the init script but it failed with this error

`Installing the 'vagrant-hostmanager' plugin. This can take a few minutes...
Bundler, the underlying system Vagrant uses to install plugins,
reported an error. The error is shown below. These errors are usually
caused by misconfigured plugin installations or transient network
issues. The error from Bundler is:

conflicting depen

[2018-06-07 19:01] kevmul commented on #188
I tried both these approaches, unfortunately I was unsuccessful.
I have Windows 10 x64
Vagrant 2.1.1
VirtualBox 5.2.12
When I access the site in the browser I get an apache folder browser thinger. Says "Index Of".

[2018-06-08 11:45] franckgarnier21 commented on #188
Do not put the host sync folder in an encrypted home folder.

[2018-06-08 11:46] franckgarnier21 commented on #164
From : https://github.com/paliarush/magento2-vagrant-for-developers/issues/88

In case anyone else happens across this thread.  I'm  running Ubuntu with an encrypted home directory, and was getting this  same error.  Moving the vagrant project out of my home directory allowed  me to complete the installation successfully.
--

[2018-06-11 09:18] purnagattu commented on #175
I'm also facing similar issue with 2.2.4 version "PHP Fatal error:  Cannot use Magento\Payment\Gateway\ConfigInterface as ConfigInterface because the name is already in use in C:\xampp\htdocs\dreamkart\vendor\magento\module-payment\Model\Method\Logger.php on line 8"

[2018-06-14 18:06] shystruk opened #192 "Autoload error: We can't read some files"
Hi,

I tried to run - **bash m-bin-magento setup:di:compile** and got this error.

I found some solution here https://magento.stackexchange.com/questions/164422/magento-2-getting-autoload-error/164434.

and it causes me another error:

I do this **chmod +x bin/magento** and previous error returns back :)

Any ideas?
Thanks

[2018-06-15 19:47] piotrekkaminski opened #193 "Composer upgrade"
Seems like the composer inside the environment is pretty ancient (1.1.2) and doesn't support things like composer show --outdated --minor-only

would it make sense to upgrade it?

[2018-06-19 08:22] shystruk commented on #192
The problem was in shh access. I cloned the repository with HTTPS and had this issue. When I cloned with SSH the issue has passed :)

[2018-06-19 08:22] #192 closed, assigned to nobody

[2018-06-24 04:00] Alterna016 opened #194 "Cygwin cygheap base mismatch detected"
Does someone know how to resolve this? I read online that it has to do with the path within the vbox to cygwin inside the sh script?

[main] tar (1172) C:\Program Files\Git\usr\bin\tar.exe: *** fatal error - cygheap base mismatch detected - 0x1802F6408/0x180318410.
This problem is probably due to using incompatible versions of the cygwin DLL.
Search for cygwin1.dll using the Windows Start->Find/Se

[2018-06-26 02:25] #194 closed, assigned to nobody

[2018-06-26 12:30] Princep1619 commented on #175
Fatal error: Cannot use Magento\Payment\Gateway\ConfigInterface as ConfigInterface because the name is already in use in C:\xampp\htdocs\magento\vendor\magento\module-payment\Model\Method\Logger.php on line 8

[2018-06-28 03:31] cbarter opened #195 "Inline host_shell tar execution failing in Vagrantfile - Windows"
I've tried a ton of things, not sure where to go from here... I can execute the compress myself locally, and then on the vagrant box I can uncompress and rm the .tar... so I can get around it. But It would be great to have this work on it's own.

Windows 7, Vagrant 1.9.6

init_project.sh.log:

[2018-06-28 04:08] cbarter commented on #195
I was running gitbash with permissions as well.

[2018-07-05 15:16] ChildHua commented on #159
I have the same issue. Any solution?

[2018-07-06 07:25] aemdy commented on #124
Encountering the same issue with macos 10.13 and Vagrant 2.1.2.

This trick helps though https://github.com/paliarush/magento2-vagrant-for-developers/issues/124#issuecomment-281372959

[2018-07-11 16:19] tomreece commented on #124
Same issue here.

mac 10.13.4
Vagrant 2.1.2

[2018-07-22 10:29] refaelgold commented on #124
same issue

mac 10.13.4
Vagrant 2.1.2

[2018-07-27 16:01] medmek commented on #127
seems like when deprecating this option (for the new php_version), this issue came up again,
when I wasn't sure about this, i chose changing [scripts\guest\m-reinstall] `setupOption[db_host]='localhost'` to `127.0.0.1 `as suggested in https://magento.stackexchange.com/a/148613/51034
but not sure either if this isn't breaking something else

[2018-07-27 20:11] medmek opened #198 "Failed Loading Xdebug on PHP 7.1"
Hi,
when chosing PHP version 7.1 in config.yaml,
I get a php error :
`Failed loading /usr/lib/xdebug71/modules/xdebug.so:  /usr/lib/xdebug71/modules/xdebug.so: cannot open shared object file: No such file or directory [Unknown source file]
`
this path being set in [etc\guest\php\7.1\cli\conf.d\20-xdebug.ini]
`zend_extension=/usr/lib/xdebug71/modules/xdebug.so`

while the way xdebug was installed i

[2018-08-02 01:14] paliarush commented on #127
@medmek if your Magento instance still works and can access DB, then changing `db_host` should be fine.

[2018-08-06 23:54] kreativedev commented on #191
Any traction on this ticket? I'm getting the exact same thing, also running Ubuntu 18.04.

edit: Found this ticket and upgraded to vagrant 2.0.3 and that seems to have fixed the issue.

[2018-08-11 19:40] Hamsa1991 commented on #195
any solution?

[2018-08-12 11:44] magefan opened #199 "The machine with the name '/vagrant/scripts/guest/check_mounted_directories' was not found configured for this Vagrant environment."
Hello,

Trying to setup your Vagrant box on Ubuntu 16.04 and getting this error during the bash init_project.sh
`The machine with the name '/vagrant/scripts/guest/check_mounted_directories' was not found configured for this Vagrant environment.
`

Any advice?

[2018-08-13 14:49] maxi032 commented on #146
I have the same problem.
I have
VirtualBox 5.2.12
vagrant 2.1.2
git version 2.18.0.windows.1
windows 10 Pro

I don't have PhpStorm running

[2018-08-13 15:21] paliarush commented on #146
@maxi032 thank you for reporting the issue. Unfortunately I don't have access to the Windows environment, but there are community members who might be able to help.

[2018-08-14 09:43] maxi032 opened #200 "Unable to mount magento2ce"
When running bash init_project.sh after Exporting environment variables' I get
<pre>
  Installing js build tools [/tmp/vagrant-shell]
[2018-08-14 09:04:44] Exporting environment variables [/tmp/vagrant-shell]
[stderr]       1 [main] tar (2752) C:\Users\Me\AppData\Local\Programs\Git\usr\bin\tar.exe: *** fatal error - cygheap base mismatch detected - 0x1802FF410/0x180318410.
[2018-08-14 09:04:56] Ch

[2018-08-14 13:34] maxi032 commented on #200
Problem was that I was using git-scm 64-bit version. Git-scm is using cygwin for many of it's operations and the 64bit version of cygwin is buggy. So what I did was uninstalling 64bit version of git-scm and installed the 32 bit

[2018-08-14 13:35] #200 closed, assigned to nobody

[2018-08-14 19:59] Hamsa1991 commented on #146
I have the same issue on windows10

[2018-08-14 20:21] paliarush commented on #146
If somebody figures out how to fix this, please share with others.

[2018-08-15 08:59] maxi032 opened #201 "Ho w to setup different hosts per store?"
Please give some examples on how to setup different hosts per store.

I.E:

mynlshop.local - default store id 0
myfrshop.local - store id 1
myukshop.local - store id 2
etc

[2018-08-15 14:20] TomashKhamlai commented on #188
Try to disable firewall ;-)
on Ubuntu:
[code]
I had this:
[code]
Disabling the firewall solved the problem.

[2018-08-15 18:55] Hamsa1991 commented on #146
The solution for me was adding:
config.vm.synced_folder host_magento_dir, guest_magento_dir

in this section

if use_nfs_for_synced_folders
        guest_magento_dir = host_magento_dir
        config.vm.synced_folder host_magento_dir, guest_magento_dir, type: "nfs", create: true
    else
        guest_magento_dir = '/var/www/magento2ce'
	config.vm.synced_folder host_magento_dir, guest_magento_dir

[2018-09-13 17:26] shajiahmed opened #203 "Vagrant magento installation failed"
Following error reported during installation
 Magento installation failed. [/vagrant/scripts/guest/m-reinstall]
[2018-09-13 16:51:36]     >  PHP Fatal error:  Uncaught Error: Call to undefined function Symfony\Component\Console\Output\is_iterable() in /Users/mohammed_ahmed/Documents/Tools/vagrant-magento/magento2ce/vendor/symfony/console/Output/Output.php:140
Stack trace:
#0 /Users/mohammed_ahmed/

[2018-09-25 17:24] santrobusweo commented on #146
This worked for me too. Thank you @Hamsa1991 !!

[2018-09-27 08:16] Morgy93 commented on #188
Same error here on three very different windows machines.

It seems to be some issue with virtualbox itself, since the shared folders are simply not available on the guest machine.

*edit*

Well, the etc folder is present, but empty:
![image](https://user-images.githubusercontent.com/7961978/46132641-da3d2000-c23e-11e8-9e75-95d9059862d4.png)

[2018-09-27 08:33] Morgy93 commented on #188
Actually I just saw that this has already been mentioned here: #173
Gonna try those exact versions now and see..

[2018-09-27 08:43] Morgy93 commented on #188
Well, I used `vb.gui=true` and files are present now: ![image](https://user-images.githubusercontent.com/7961978/46133898-eaa2ca00-c241-11e8-80e3-ca4e659726ef.png)

But the same error persists. 🤔

[2018-09-27 08:51] Morgy93 commented on #188
Wait, this is totally plausible to me, since it checks for `${vagrant_dir}/etc/guest/mysql/my.cnf` which is in fact missing for me here. Just need to find out why now..

[2018-09-27 09:35] Morgy93 commented on #188
Please kill me .. I figured it all out: Wrong git config
I had CRLF which of course doesn't work on Linux.

From requirements:
[code]

[2018-10-01 10:28] ilgala commented on #188
In ubuntu 16.04 I've resolved this issue by restoring [file permissions](https://stackoverflow.com/a/18817767/2343305) of the `etc` folder and by installing these nfs-common and nfs-kernel-server:

`sudo apt-get install nfs-common nfs-kernel-server`

[2018-10-05 18:57] esteban-filardi commented on #173
What is the reason this line

`config.vm.synced_folder host_magento_dir, guest_magento_dir`

isn't written in the Vagrantfile by default when NFS is disabled (or using Windows)?

[2018-10-07 11:33] efmitchell opened #206 "Magento installation failed [/vagrant/scripts/guest/m-reinstall]"
Mac OS 10.13.1, all listed requirements installed.

Whilst running init_project, get the error:

[code]

When I run with error logging I also get the below in the m-reinstall log:

`2018-10-07 12:11:33] STATUS: Deleting TestModule directories [/Users/elliotmitchell/Code/vagrant-magento/scripts/host/m_reinstall.sh]]
[2018-10-07 11:11:35] STATUS: Killing MQ processes [/vagrant/scripts/guest/m-rein

[2018-10-09 07:25] elburro1887 commented on #206
I'm also getting this error. This is due to the following line

https://github.com/magento/magento2/blob/80469a61e061abd0001c93497a6d92296b46496b/lib/internal/Magento/Framework/Filesystem/Directory/Write.php#L35

It uses a new feature called "nullable types", which was apparently introduced in PHP 7.1

The installer only installs PHP 7.0 by default, so you need to change this to PHP 7.1

https://g

[2018-10-12 21:32] igrybkov opened #207 "AMQP configuration doesn't work on composer installation due to invalid path to module"
Code line: https://github.com/paliarush/magento2-vagrant-for-developers/blob/2.0/scripts/guest/m-reinstall#L80

Second condition has a path `vendor/magento/magento-message-queue` which is wrong.
Correct path should be `vendor/magento/module-message-queue`.

[code]

[2018-10-18 16:33] paliarush opened #208 "[Upgrade] Redis support for Magento 2.3+"

[2018-10-18 16:35] #208 closed, assigned to paliarush

[2018-10-18 16:37] paliarush opened #209 "[Upgrade] Add support for ElasticSearch in 2.3+ CE"
ElasticSearch was moved to Magento CE starting from 2.3.0 and thus should be supported there.

[2018-10-19 10:02] misp15 opened #210 "PHP extension ext-intl * is missing from your system. Install or enable PHP's intl extension"
hello!

The installation is successful-ish but when I want to Install venia storefront with the bash deployVeniaSampleData.sh script from vagrant-magento/magento2ce folder https://magento-research.github.io/pwa-studio/venia-pwa-concept/setup/

I get This error;

PHP extension ext-intl * is missing from your system. Install or enable PHP's intl extension.

Now in etc/guest/php/7.2/mods-available/in

[2018-10-23 07:33] justincormier commented on #194
I'm running into this problem, did you find a solution?

[2018-10-24 07:21] dmytrunets opened #211 "Xdebug issue on latest versions"
I run:
`bash install_project.sh` with small change in config.yml php_version: "7.2"
Installed Xdebug version by default **v2.7.0beta2-dev**

Following by instruction https://github.com/paliarush/magento2-vagrant-for-developers#debugging-with-xdebug I put breakpoint on first line index.php and open site in browser.
Xdebug stop execution on first line correctly, but when I continue execution or go t

[2018-10-24 07:35] dmytrunets commented on #210
Hi,
By default PHP extension ext-intl is installed

Check installed module:
`vagrant ssh`
`php -m | grep intl`

If no result, just install module:
`sudo apt-get install php7.0-intl`
`sudo service apache2 restart`

[2018-10-29 14:12] #155 closed, assigned to leoquijano

[2018-10-29 14:14] #207 closed, assigned to nobody

[2018-10-29 14:55] bonchevski opened #214 "SSH command responded with a non-zero exit status."
So this is kinda the final output once I initially run "vagrant up" . I've followed the steps until here but it doesn't allow me to run the bash init_project.sh due to files not being there. I'm completely lost on how to get going....  Any help would be MUCH appreciated , thank you in advance!

magento2.vagrant111: dpkg-query: package 'nodejs' is not installed and no information is available
    m

[2018-10-30 16:37] NickCorl commented on #146
I am confused! in what file did you add this code? Thanks!

[2018-10-30 16:40] NickCorl commented on #146
Never mind, I found it. It is in the vagrant file

[2018-10-30 16:43] Hamsa1991 commented on #146
In vagrant file

On Tue, 30 Oct 2018, 18:42 Nicholas Corl, <notifications@github.com> wrote:

[2018-10-30 18:43] NickCorl commented on #146
I am currently still having this issue and I am unsure how to stop getting this error. Here is my vagrant file content.

[code]

[2018-10-30 19:26] NickCorl opened #215 "There has been an error processing your request Exception printing is disabled by default for security reasons. Error log record number: 365199510952"
After I have completed my installation after numerous big fixes since I work with windows 10 I almost got this box set up. However I am getting errors I have not seen over the issues list. When I enter the domain made within my hosts file I recived the following error on the webpage.

There has been an error processing your request
Exception printing is disabled by default for security reasons.

E

[2018-10-31 16:42] paliarush commented on #173
@esteban-filardi I believe the answer can be found here https://github.com/paliarush/magento2-vagrant-for-developers/blob/2.0/docs/performance-issue-on-windows-hosts.md

[2018-11-06 20:05] createadrln commented on #194
Also an  issue

[2018-11-26 01:06] mrtuvn opened #216 "Got some issue with clone private repos from bitbucket"
I have problem with clone bitbucket private repos.
I very sure i have rights to access to these repos. Tested in another machine run docker. But current machine is windows running your vagrant box can't do it
Error message "Failed to execute git clone --mirror The requested url returned error 403"
Tested with vagrant version 2.0.1
Windows 10
Virtualbox with GUI mode. Everything oks but only this p

[2018-12-03 05:38] mahbub1230 opened #217 "when i run init_project.sh getting error"
Hi,

I am getting below error.

PHP Parse error:  syntax error, unexpected 'Dec' (T_STRING), expecting ']' in /Volumes/data/www/vagrant-magento2/magento2ce/app/etc/env.php on line 42

Magento frontend is not accessible at 'http://magento2.vagrant115/' after installation. Please scan output above and logs for errors [/vagrant/scripts/guest/m-reinstall]

rm: cannot remove ‘var/log’: Directory not em

[2018-12-04 00:27] mrtuvn opened #218 "[Feature] Allow to enable/disable xdebug with configuration"
Currently xdebug enabled default. It's will impact with performance

[2018-12-07 16:56] normanfrancis commented on #164
@VadimIzmalkov were you able to resolve this issue? I'm having the same problem.

[2018-12-16 18:51] justincormier commented on #191
Also receiving this error on Ubuntu 18.04. The latest Vagrant version available that I see is 2.0.2.

[2018-12-27 15:33] emperorKez opened #219 "Magento frontend is not accessible after installation on windows host"
Windows 10 pro,

Vagrant 2.2.2
All listed requirements installed.

Whilst running init_project, everything seemed to have worked though with some error. The project initialization was successfully completed but magento frontend and backend was not accessible.
I have also correctly configured phpstorm for magento codebase.

$ bash init_project.sh
[2018-12-25 23:03:09] Checking requirements [/c/User

[2019-01-03 19:26] lhenkel commented on #159
My issue was I haven't used Vagrant in a while and evidently they've moved servers and didn't put redirects.
I added
Vagrant::DEFAULT_SERVER_URL.replace('https://vagrantcloud.com')
to the Vagrantfile and stuff started working.  It was trying to download from atlas before.

[2019-01-10 12:23] mrtuvn opened #220 "Issue when booting VM in ubuntu 18.10"
I got this problem when try to run "vagrant up"

Here is my steps for reproduce
1/ CLone project to folder vagrant-magento
2/ change config, and add auth config
3/ Not run init_project.sh yet but i run command vagrant up first

There was an error while executing `VBoxManage`, a CLI used by Vagrant
for controlling VirtualBox. The command and stderr is shown below.

Command: ["startvm", "6b932c12-51

[2019-01-11 08:12] mrtuvn commented on #220
Btw i fixed my problem So will close this ticket

[2019-01-11 08:12] #220 closed, assigned to nobody

[2019-01-11 08:13] mrtuvn opened #221 "Terminal in vagrant got freezes while install/reinstall magento"
I got this experiences when try to reinstall and install magento via vagrant box
Tested in Magento 2.3
Vagrant 2.2.3
Virtualbox 6 headless mode
With NFS installed
Ubuntu 18.04 LTS

Vagrant enviroment run very long at script /scripts/guest/m-reinstall
@paliarush can you take a look at this

[2019-01-12 07:59] mrtuvn opened #222 "[Enhancements] Allow to disabled xdebug from config.yaml"
Is this worth or good feature should have in next version ?

[2019-02-01 18:02] rganin opened #224 "Increase xdebug_nesting_level for extended editions scenarios"
Actual:
xdebug.max_nesting_level is set to 200 but default is 256 and even 256 is not enough for some scenarios.

Expected:
xdebug.max_nesting_level is set to 256 by default. Documentation reflects the possibility of issues with nesting level setting and describes the workaround.

More details: https://jira.corp.magento.com/browse/MC-5828

[2019-02-04 10:12] refaelgold commented on #140
Try to give the right permission for full disk at mac OS
<img width="780" alt="46011600-a3dc9500-c0c6-11e8-9e44-f75fd7697fcf" src="https://user-images.githubusercontent.com/1097087/52202030-f8aeca00-2875-11e9-9347-b8ec46b52d44.png">
<img width="780" alt="46011598-a2ab6800-c0c6-11e8-8846-c9759ce82364" src="https://user-images.githubusercontent.com/1097087/52202033-f9dff700-2875-11e9-9d7a-eabfdebfe7

[2019-02-05 08:19] refaelgold commented on #188
![2019-02-05_10-01-13](https://user-images.githubusercontent.com/1097087/52259945-0d01ce00-292d-11e9-95d8-43990239f9fb.png)

-Mac OS Solution -
1.Open mac os settings on privacy
2.Open up the permission(Locker icon)
3.go to "Full Disk Acssess"
4.Add the command line program.(Iterms phpstorm CLI in my case).
5.press "OK" :)

@paliarush  i really think its need to be at FAQ. Its takes me a lot of ti

[2019-02-10 05:13] kushal9291 commented on #170
I'm having the same issue.
OS: Windows 10
VirtualBox : 6.0.4
Vagrant: 2.2.3
![screenshot 44](https://user-images.githubusercontent.com/16516005/52529882-9f84e180-2d20-11e9-9e1e-0834e7ac7760.png)

cofigs

[code]

[2019-02-17 16:37] mrtuvn commented on #120
how can i test with type integration
Somehow init_project.sh not setup table 'magento_integration_tests'. How can i re-create this

[2019-02-20 08:34] kushal9291 commented on #170
I Turned off my antivirus and it's working fine now.

[2019-03-15 04:21] matthewvolk opened #225 "Cannot find NFS mount on MacOS Mojave 10.14.1"
Hi,

I'm sorry if this is a simple question, I'll admit I'm not a sys admin. I was under the impression that after running init_project.sh and setting "use_nfs" equal to "1" that I would have a directory created in /private/nfs

Is this not the case? I tried running
showmount -e <private_network_ip>
and it didn't return anything.

Is the NFS mount the ${vagrant_directory}?

Amazing tool, @paliarus

[2019-04-01 14:08] Vinai commented on #198
Same happens for PHP 7.2

[code]

[2019-04-01 14:26] Vinai commented on #198
The problem happens at this stage of the buld in `scripts/provision/upgrade_environment_recurring.sh`:
[code]

The issue is that in the current corporate network port 22 is blocked. If I use the http coordinate it works:

`git clone https://github.com/xdebug/xdebug.git xdebug72`

The same issue occurred while following the installation instructions. Maybe it would make sense to use the http github

[2019-04-01 15:01] Vinai commented on #193
Ran into problems with that, too, while using composer in a `vagrant ssh` session.
Maybe `./scripts/host/composer.phar` can be copied to `/usr/local/bin/composer`?

[2019-05-06 18:55] danmooney2 opened #226 "Ubuntu Trusty is EOL; ondej/php has removed all PHP versions"
With Ubuntu 14 being EOL April 2019, PHP packages are no longer available from the PPA for this version.  Impact is that any install or reinstall will go forward without any PHP binary installed.  See https://www.patreon.com/posts/ubuntu-14-04-php-22093917.

[2019-05-06 19:31] danmooney2 commented on #226
Think I updated this correctly but not sure: https://app.vagrantup.com/dmooney/boxes/magento2.ubuntu

[2019-05-07 08:59] yanivmo commented on #226
@danmooney2 I've noticed you updated to 16.04. Why not to go directly to 18.04.2?

[2019-05-07 14:07] danmooney2 commented on #226
@yanivmo Whatever works.  My box does not work so I'll defer to someone who knows how to set it up properly.

[2019-05-07 16:04] yanivmo commented on #226
@danmooney2 I need it desperately myself but unfortunately it would take too much effort for me to try to solve it myself.

[2019-05-08 04:08] nfourteen commented on #226
@paliarush I can confirm this issue...I just got back from a 1.5 month long trip and I'm trying to get MSI installed. However, I keep getting `Unable to locate package php7.1` errors during a fresh install (after removing the box). The final error is `ERROR: Module php7.1 does not exist!` when the "Configuring PHP 7.1" message is displayed and the Magento install fails. I just figured out it's bec

[2019-05-30 15:16] bhagdave commented on #191
Also had this problem and fixed it by downloading the latest version of Vagrant from https://www.vagrantup.com/downloads.html

[2019-05-31 08:45] JackWormUK commented on #226
I was wondering the same thing.  Need at least PHP 7.1 for Magento 2.3.x.  I cant get the bx to work (even after A LOT of messing around with this) as Magento wont install because of the PHP requirement

[2019-06-02 08:33] mrtuvn opened #227 "PHP Module does not exist"
I try to re-init and re-create VM but it's not work
only php7.0 can work i can't make php 7.1 and php 7.2 work
Before it's work but currently it's not. My report at 2/6/2019
Can we get new vagrant image build come with
ubuntu , composer higher version?

![vagrant-php](https://user-images.githubusercontent.com/1908873/58758836-bc515900-854b-11e9-93c3-f43daf99043e.PNG)

[2019-06-02 23:59] JackWormUK commented on #227
Yes we Know, see issue 226.  Ubuntu 14 is EOL, so PHP has been removed from the repository

[2019-06-03 01:45] mrtuvn commented on #227
thanks for your info. Seem we can't do anything here and have to wait update ubuntu image from @paliarush

[2019-06-03 02:23] JackWormUK commented on #227
It looks like it.  You cant just do a straight upgrade from 14 to 16 unfortunately

[2019-06-03 02:30] JackWormUK commented on #227
For reference i think @paliarush has perhaps moved on to Docker over Vagrant, so I will have a go at using the docker version.  [Docker Version Link](https://github.com/magento/magento2-kubernetes-devbox)

[2019-06-05 09:00] #227 closed, assigned to nobody

[2019-06-06 08:36] pablogiralt commented on #226
+1

[2019-06-10 20:11] thoughtassassin opened #228 "Unable to install"
Running `bash init_project.sh` fails. I see this message in the log:

`[2019-06-10 20:05:18] STATUS: >  ./bin/magento setup:install     --db-host=localhost     --db-name=magento     --db-user=root     --backend-frontname=admin     --base-url=http://magento2.vagrant148/     --language=en_US     --timezone=America/Chicago     --currency=USD     --admin-lastname=Admin     --admin-firstname=Admin

[2019-06-12 05:29] JackWormUK commented on #228
Yes UBUNTU 14 is EOL and the PHP packages are no longer available to install.  Until @paliarush updates the Ubuntu version this project no longer works.  There is nothing you can do to fix the error.

[2019-09-20 15:50] pooley182 opened #229 "git bash, windows 10, read-only file system error"
When attempting to run the init shell script in git bash it immediately returns the following error.
`/c/www/vagrant-magento/scripts/output_functions.sh: line 184: /dev/fd/62: Read-only file system`

I can't find any other info on the error and it doesn't look like an issue has been raised for a similar issue before.

Thanks.

[2019-10-04 11:51] elouwerse commented on #229
Same issue here.
Also getting the error `/scripts/output_functions.sh: line 184: /dev/fd/62: Read-only file system`

[2019-10-08 06:26] michalwolek commented on #87
+1

[2019-10-14 12:45] sreez commented on #159
I am getting similar error from **vagrant-magento/scripts/host/check_mounted_directories.sh** in Windows 10 with Vagrant 2.2.5 and Virtual Box 6. I have another Laravel homestead box which is working fine.

` Directory '/d/dev/vagrant-magento/etc' was not mounted as expected by Vagrant.
        Please make sure that 'paliarush/magento2.ubuntu' Vagrant box was downloaded successfully (if not, this

[2019-10-14 12:48] sreez commented on #159
${vagrant_dir}/etc/guest/mysql/my.cnf file is not created

[2019-11-26 17:46] mavinbe commented on #228
@thoughtassassin
I've made a fork wich runs wich uses a debian/buster64 vagrant box.
I made many changes to make it run.
It's not well tested but you can have a try:
https://github.com/mavinbeh/magento2-vagrant-for-developers

[2019-11-26 17:51] mavinbe commented on #226
I've made a fork wich runs wich uses a debian/buster64 vagrant box.
I made many changes to make it run.
It's not well tested but you can have a try:
https://github.com/mavinbeh/magento2-vagrant-for-developers

[2020-11-07 11:03] DungNV512 opened #230 "y7777777777777777777777777777777777777777/8888888888888888/x"

[2021-04-17 14:33] medmek opened #231 "Host PHP version php-5.6.9 -> newer and adding VC_redist.x64.exe as requirement"
When I execute manually :
`curl http://windows.php.net/downloads/releases/archives/php-5.6.9-nts-Win32-VC11-x86.zip -o lib/php.zip`
it creates a small file (1kb)
[code]
a file that is clearly not the whole php5.6 zip (trying to unzip it manually tells me that it's not a zip file)

So I had to curl manually another version of PHP :
`curl https://windows.php.net/downloads/releases/php-7.4.16-nts-Win

[2021-04-17 14:42] medmek opened #232 "[Windows] Unzip not installed by default in gitbash"
For Windows user unzip is not installed by default in gitbash and is an implicite requirement in the project.

Please make it more explicite to Check optional unix tools during gitbash setup (like advised in this [Stackoverflow answer](https://stackoverflow.com/a/39622762) )

Thank you so much

[2021-04-25 21:18] medmek commented on #231
While doing the above solves the php download problem, the newer php version architecture, or more precisely the `php.ini` layout seems to be different. Because of this, parts of this project for enabling php extensions (necessary for the installation of magento code base via composer) seems to not work.

[code]
it seems to be caused by this lines in `install_php.sh`
[code]
trying to remove the `;

[2021-04-26 00:36] medmek opened #233 "Deleting Magento Test Module only if "checkout_source_from: git""
Hello,
I'm not entirely sure but I think that Deleting TestModule directories in m_reinstall.sh should only be done in case of git as checkout source
In case of  `checkout_source_from: "composer"` for example the `magento2ce/app/code/Magento` directory doesn't exist, because it's found in vendor directory. In this case I'm not sure it's useful to delete the TestModule directory anyway (?)
Thanks
[

[2022-01-16 18:52] #111 closed, assigned to nobody